<a href="https://colab.research.google.com/github/dagyaom/Python_Practice/blob/main/flask_friend.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [139]:
# 데이터프레임을 딕셔너리형태로 반환하기.
# 다양한 방법이 있다. 

import pandas as pd
userid = pd.read_csv('./users.csv').set_index(['id']).to_dict()['username']
userid
# len(username)

{0: 'squiddy', 1: 'spongebob', 2: 'patrick'}

In [221]:
# csv 파일 읽기&쓰기
# https://docs.python.org/ko/3/library/csv.html#dialects-and-formatting-parameters
# https://devpouch.tistory.com/55

lines = []
import csv
with open('./users.csv') as f:
    reader = csv.reader(f)
    for row in reader:
        if row[1] == "squiddy":
            row[1] = "서울"
        lines.append(row)

f = open('./users.csv','w',newline='') #원본을 훼손할 위험이 있으니 다른 파일에 저장하는 것을 추천합니다.
wr = csv.writer(f)
wr.writerows(lines)
 
f.close()

# lines ==> [['id', 'username'], ['0', '서울'], ['1', 'spongebob'], ['2', 'patrick']]

In [224]:
lines = []
import csv
with open('./users.csv') as f:
    reader = csv.reader(f)
    for row in reader:
        print(', '.join(row))

id, username
0, 서울
1, spongebob
2, patrick

In [178]:
type([k for k, v in userid.items() if v == 'squiddy'][0]

int

In [180]:
userid[0] = 'kkd'
userid

{0: 'kkd', 1: 'spongebob', 2: 'patrick'}

In [160]:
useri = pd.read_csv('./users.csv')
useri 
# for i in range(len(useri))

   id   username
0   0    squiddy
1   1  spongebob
2   2    patrick

In [169]:
lis = []
for i in range(len(useri)):
    dic = {}
    dic[useri.iloc[i][0]] = useri.iloc[i][1]
    lis.append(dic)
print(lis)

[{0: 'squiddy'}, {1: 'spongebob'}, {2: 'patrick'}]

In [153]:
username = 'patrick'
for key, value in userid.items(): 
    if value == username:
        print(str(key))
    else:
        continue

# 출처: https://seong6496.tistory.com/72 [codmath]

2

In [170]:
userid[0][1]

'q'

In [97]:
li = []
for i in username.values() :
    li.append(i)
print(li[1])

['squiddy', 'spongebob', 'patrick']

In [154]:
'squidd' not in userid.values()

True

In [100]:
a = None

In [101]:
a is None

True

In [ ]:
li = []
dic = {"users":None}
for i in username['username']:
    li.append(i)

dic['users'] = li
dic

{'users': ['spongebob', 'patrick', 'squidward']}

In [ ]:
dic

{'users': None}

In [ ]:
username['users'] = username.pop('username')

In [ ]:
username['users'][0]

'spongebob'

In [ ]:
import json
json_val = json.dumps(username)

In [ ]:
json_val

'{"username": ["spongebob", "patrick", "squidward"]}'