<a href="https://colab.research.google.com/github/dagyeom23658/Python_Practice/blob/main/%EC%A0%95%EA%B7%9C%ED%91%9C%ED%98%84%EC%8B%9D%2C_%EB%82%B4%EC%9E%A5%EB%A9%94%EC%84%9C%EB%93%9C%2C_for%2C_if%2C_%EC%BB%AC%EB%A0%89%EC%85%98%EC%9E%90%EB%A3%8C%ED%98%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

컴퓨팅 환경이라든지 제한된 상황에서, 써야할 순간이 온다.

수학보다 직접적인 ... 

데이터 엔지니어, 개발자와 커뮤니케이션 할떄 도움이 된다!!

코테는 최소한의 지식이나, 코딩실력을 갖췄는지 보는 시험. 업무에 100% 연관된다곤 못하지만, 문제를 풀어가는 과정이나 논리구조를 보고 가산점을 주기도한다. 주석을 잘 다는 연습하기. 수학적 사고력, 논리력!을 충분한 사람이면 기술적 부분이 부족해도 충분히 보충 가능하다고,, 특히 대기업에서 그렇게 생각을 많이 한다. 

코딩테스트를 위한 암기도 필요하지만, 문제해결력과 논리적 사고력을 기르기.
내장메서드.. 내부적으로 어떻게 돌아가는지 이해하면서 공부

개념이 모호할때가 많고... 자신만의 언어로 작성해서 저장해두기...!!!

정규표현식은 불용어때 사용 많이 하고,, 웹크롤링 데이터 가져올 때 쓰기도 하고..ㅡ
각 메서드들이 어떠한 차이가 있는지 알아보기!!

한줄 한줄 분석하면서 하는 연습!! 컴퓨팅 사고에 도움이 된다.

프로그래머스 레벨3 통과하면 웬만한 기업 테스트는 다 통과할 수 있다. 백준도 있음.

In [ ]:
## 더 알아보기
# iterator , iterable 의 차이는??
# reduce

# 정규표현식
- 특정한 규칙을 가진 문자열의 집합을 표현하는 사용하는 형식
- 복잡한 문자열을 처리할 때 사용한다. 
- 파이썬 이외에도 모든 프로그래밍 언어에 공통적으로 사용이 된다.

# 정규식 기호 = 메타 문자
- 원래 그 문자가 가진 뜻이 아닌 특별한 용도로 사용하는 문자.

.  => \n을 제외한 모든 문자

[ ] => [a-z] => 알파벳 소문자를 [1-9] => 1부터 9 중 가져온

^  => 부정, 문자 클래스 안에 문자를 제외한 나머지 애들을 하는거.

$ => 끝을 나타내는 메타 문제 => 문자열의 행이나 끝을 의미한다. 

* + => 둘의 차이는?  *는 0부터 반복, +는 최소 1번 이상 반복

? => on/off => 있어도 되고, 없어도 된다. => ab? => a, ab

{m,n} => m번 이상, n번 이하 => a{1,2} => a,aa

m번 이상 => {m,}

n번 이하 => {,n}

m번 => {m}

\ : 용도>  => 메타문자/특수 기호를 문자로서 표현하고 싶을 떄  => .com => \\.com

# 정규표현식 regular expression

https://wikidocs.net/4308#_3

현업에서도 많이 쓰이는 정규표현식. 

정규식 기호(메타문자)를 이용해서 ...

어떤 상황에 어떤 메서드를 쓰는게 좋을지 생각해보기.

- re.search : 문자열 전체를 검색하여 정규식과 매치되는지 조사한다.
- re.match : 	문자열의 처음부터 정규식과 매치되는지 조사한다.

In [27]:
# re.search
import re

wordlist = ["acolor","color", "colour", "work", "working",
            "fox", "worker", "working","acolor is not colir"]

# wordlist = "color, is, not, colir"
for word in wordlist :
    if re.search('col.r', word):  #정규 표현식의 Dot(.) 메타 문자는 줄바꿈 문자인 \n을 제외한 모든 문자와 매치됨을 의미한다.
        print('search:',word)
    if re.match('col.r', word): 
        print('match:', word)
    print('***')

search: acolor
***
search: color
match: color
***
***
***
***
***
***
***
search: acolor is not colir
***

In [18]:
# re.match
regular_expressions = '<html><head><title>Title</title'
print(len(regular_expressions))
print(re.match('<.*>', regular_expressions).span())  # span(): 매치된 문자열의 (시작, 끝)에 해당하는 튜플을 돌려준다.
print(re.match('<.*>', regular_expressions).group())  # group(): 매치된 문자열을 돌려준다.
# 개행문자를 제외한 어떤 문자든지 가능(.), 바로 앞의 문자를 0번부터 반복가능(*)
# re.match --> '<'과 문자열이 일치해야 함.

31
(0, 19)
<html><head><title>

In [32]:
# case 1_1
phone = re.compile(r"""
010-    # 핸드폰 앞자리 
\d{4}-  # 중간자리
\d{4}  # 뒷자리
""", re.VERBOSE)  

# 컴파일된 패턴 객체인 phone는 모두 동일한 역할을 한다. 하지만 정규식이 복잡할 경우 case 1_2보다 case 1_1처럼 주석을 적고 여러 줄로 표현하는 것이 훨씬 가독성이 좋다.
# re.VERBOSE 옵션을 사용하면 문자열에 사용된 whitespace는 컴파일할 때 제거된다(단 [ ] 안에 사용한 whitespace는 제외). 그리고 줄 단위로 '#'기호를 사용하여 주석문을 작성할 수 있다.

{ } 메타 문자를 사용하면 반복 횟수를 고정할 수 있다. {m, n} 정규식을 사용하면 반복 횟수가 m부터 n까지 매치할 수 있다. 또한 m 또는 n을 생략할 수도 있다. 만약 {3,}처럼 사용하면 반복 횟수가 3 이상인 경우이고 {,3}처럼 사용하면 반복 횟수가 3 이하를 의미한다. 생략된 m은 0과 동일하며, 생략된 n은 무한대(2억 개 미만)의 의미를 갖는다.


\d - 숫자와 매치, [0-9]와 동일한 표현식이다.

In [30]:
# case 1_2
phone = re.compile(r"010-\d{4}-\d{4}")  # \d - 숫자와 매치, [0-9]와 동일한 표현식이다.--> 반드시 4번 반복되어야 한다.

In [33]:
# case 1_3
info = ['홍길동 010-1234-1234', '고길동 010-5678-5679']

for text in info:
    match_object = phone.search(text)  # 문자열 전체를 검사해서 정규식과 일치되는지 조사
    print(match_object.group()) #매치된 문자열을 돌려줌

010-1234-1234
010-5678-5679

# rjust(width, [fillchar]), zfill(width)
원하는 문자를 따로 지정하고, 다른 문자열로 앞 부분을 채워줄 수 있다.

0으로 앞부분 채워주기

In [34]:
#"002"
print("2".rjust(3,"0"))
 
#"50000"
print("50000".rjust(5,"0"))  # --> 채워줄 공간이 없으므로 그대로 출력
 
#"00123"
print("123".rjust(5,"0"))
 
#"aa123"
print("123".rjust(5,"a"))

002
50000
00123
aa123

In [ ]:
#"002"
print("2".zfill(3))
 
#"50000"
print("50000".zfill(5))
 
#"00123"
print("123".zfill(5))

# split(), startswith(), endswith(), replace()

In [35]:
string_ = "Hello, I am Jack and I am a data scientist"
print(string_)
print(string_[1])

Hello, I am Jack and I am a data scientist
e

In [36]:
string_list = string_.split(" ")  # 공백을 기준으로 나누다.
string_list

['Hello,', 'I', 'am', 'Jack', 'and', 'I', 'am', 'a', 'data', 'scientist']

In [38]:
string_.startswith('hello')  # 불값으로 반환. 첫시작이 일치하는지 여부

False

In [39]:
string_.endswith('scientist')  # 불값으로 반환. 끝부분이 일치하는지 여부

True

In [41]:
string_.endswith('tist')   #완전한 단어가 아니어도 됨. 끝이 t 이기만 하면 모두 true

True

In [42]:
print(string_.replace("Jack", "John"))
print(string_)

Hello, I am John and I am a data scientist
Hello, I am Jack and I am a data scientist

# 얕은복사, 깊은복사.

https://wikidocs.net/16038

https://dojang.io/mod/page/view.php?id=2477

In [59]:
fruits = {"apple", "banana", "cherry"}  #set --> 순서가 없음   https://wikidocs.net/1015
fruits_copy = fruits.copy()
print(fruits_copy)
print(id(fruits))
print(id(fruits_copy))

{'apple', 'banana', 'cherry'}
140392727653504
140392586235488

In [60]:
a = {'a': 5, 'b': 4, 'c':  {'python': '2.7'}}
b = a
del b['a']
b['c']['python'] = '2.7.15'
print(b)
print(a)
print(id(b))
print(id(a))

{'b': 4, 'c': {'python': '2.7.15'}}
{'b': 4, 'c': {'python': '2.7.15'}}
140392585444320
140392585444320

In [61]:
import copy
a = {'a': 5, 'b': 4, 'c':  {'python': '2.7'}}
b = copy.copy(a)
del b['a']
b['c']['python'] = '2.7.15'
print(b)
print(a)

print(id(b))
print(id(a))

# 중첩딕셔너리를 다른 객체로 만드려면 deepcopy() 메서드를 써야한다.

{'b': 4, 'c': {'python': '2.7.15'}}
{'a': 5, 'b': 4, 'c': {'python': '2.7.15'}}
140392585828864
140392585829184

In [63]:
import copy
list_var = [[1,2],[3,4]]
list_var_deepcopy = copy.deepcopy(list_var)
list_var_copy = list_var.copy()

list_var[1].append(5)

print(list_var)  # 원래 변수

print(list_var_deepcopy)  # deepcopy : append와 같은 메소드를 써도 값이 변경되지 않음

print(list_var_copy)  # copy : 원본이 변경되었으므로 함께 변경됨

[[1, 2], [3, 4, 5]]
[[1, 2], [3, 4]]
[[1, 2], [3, 4, 5]]

# 반복문, 조건문

## for문

In [65]:
# case 1
data = [90, 45, 32, 44]
for i in range(data):
   print(data[i]) # 90, 45, 32, 44

TypeError: ignored

In [66]:
# case 1
data = [90, 45, 32, 44]
for i in range(len(data)):
   print(data[i]) # 90, 45, 32, 44

90
45
32
44

## 딕셔너리 for문

In [67]:
# case 2
mock_data = {
  "id": 1,
  "first_name": "states",
  "last_name": "code",
  "email": "code@states.com",
  "gender": "Female",
  "ip_address": "123.123.123.23"
}

In [68]:
# 키만 나오는군
for x in mock_data:
    print(x)

id
first_name
last_name
email
gender
ip_address

In [69]:
for x in mock_data.keys():
    print(x)

id
first_name
last_name
email
gender
ip_address

In [70]:
for x in mock_data.values():
    print(x)

1
states
code
code@states.com
Female
123.123.123.23

In [73]:
for x in mock_data.items():
    print(x)
print(type(x))

for k,v in mock_data.items():
    print(k,v)
print(type(k))

('id', 1)
('first_name', 'states')
('last_name', 'code')
('email', 'code@states.com')
('gender', 'Female')
('ip_address', '123.123.123.23')
<class 'tuple'>
id 1
first_name states
last_name code
email code@states.com
gender Female
ip_address 123.123.123.23
<class 'str'>

## zip() for문

In [74]:
# 일반적인 반복문 활용
a = [1,2,3,4,5]
b = [10,20,30,40,50]
for i in range(len(a)):
   print(a[i],b[i])

1 10
2 20
3 30
4 40
5 50

In [86]:
# zip 함수 활용
a = [1,2,3,4,5]
b = [10,20,30,40,50]
c = zip(a,b)
d = list(c)

print(c)
print(list(c))  # ★
print(d)
print(type(c))
print(type(d))


# 이거는 또 뭥... 한번 들어가버리면 활용이 안되는것?

# iterator, iterable 객체의 차이.
# zip object
# map 도 iterator의 하나이다. 
# generator

<zip object at 0x7fafb654ddc0>
[]
[(1, 10), (2, 20), (3, 30), (4, 40), (5, 50)]
<class 'zip'>
<class 'list'>

In [28]:
help(zip)  # 소스코드가 나온다.

Help on class zip in module builtins:

class zip(object)
 |  zip(*iterables) --> zip object
 |
 |  Return a zip object whose .__next__() method returns a tuple where
 |  the i-th element comes from the i-th iterable argument.  The .__next__()
 |  method continues until the shortest iterable in the argument sequence
 |  is exhausted and then it raises StopIteration.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [83]:
# 반복문과 zip 활용
a = [1,2,3,4,5]
b = [10,20,30,40,50]
c = [100,200,300,400,500]
print(zip(a,b,c))
for x,y,z in zip(a,b,c) :
    print(x,y,z)


for x in zip(a,b,c) :
    print(x)

<zip object at 0x7fafb24268c0>
1 10 100
2 20 200
3 30 300
4 40 400
5 50 500
(1, 10, 100)
(2, 20, 200)
(3, 30, 300)
(4, 40, 400)
(5, 50, 500)

In [1]:
# break
IntCollection=[0,1,2,3,4,5,6,7]
for x in IntCollection:
    if(x==3):
        break
    else:
        print(x)

0
1
2

In [2]:
# continue
IntCollection=[0,1,2,3,4,5,6,7]
for x in IntCollection:
    if(x==3):
        continue
    else:
        print(x)

0
1
2
4
5
6
7

In [3]:
# 반복문의 다양한 활용
list_ = [1,2,3,4,5]

def foo(list_):
  print(list_)

print('foo(list_[i])')
for i in range(len(list_)):
    foo(list_[i])

print('foo(element)')
for element in list_:
    foo(element)

foo(list_[i])
1
2
3
4
5
foo(element)
1
2
3
4
5

## 에러

- 띄어쓰기 에러
- sintax 잘못된 문법 에러
- while문에서 컨트롤씨 누르면 인터럽트 에러

In [4]:
# 케이스 1 - IndentationError

def print_list(list):
for item in list: # 에러 확인 및 해결필요
print(item)

IndentationError: ignored

In [5]:
# 케이스 2 - SyntaxError

123ddf

SyntaxError: ignored

In [6]:
# 케이스 3 - KeyboardInterrupt

while True:
  pass

KeyboardInterrupt: ignored

In [8]:
# 케이스 4 - TypeError

# print(1) / 232

a,b = 0
print(a,b)

TypeError: ignored

In [9]:
# 케이스 5 - ZeroDivisionError

value = 2/0

ZeroDivisionError: ignored

In [11]:
# 특이 케이스 6 - 경고(warning) // ignore
def A():
  a = 0
  c =0
  print(a,c,) # 경고는 명시적으로 보이지 않지만, 메모리 비효율/휴먼 에러 등이 발생할 수 있다.

A()

0 0

# 컬렉션 자료형의 내장메소드

## append(), extend(), insert()

extend ==> 리스트를 이어서 추가해주는 것.(확장의 개념)

이외에는 삽입의 의미.

In [36]:
list_1 = ['bread', 'meat']
list_2 = ['Lettuce',2 ,5]
list_1.extend(list_2)
print('list1: {}, list2: {}'.format(list_1, list_2))

list1: ['bread', 'meat', 'Lettuce', 2, 5], list2: ['Lettuce', 2, 5]

In [ ]:
my_list=[]
for i in range(1000, 2200):
    if (i%7==0) and (i%5!=0):
        my_list.append(str(i))

print(','.join(my_list))

In [12]:
my_list=[]
for i in range(1000, 2200):
    if (i%7==0) and (i%5!=0):
        my_list.insert(len(my_list), str(i))

print(','.join(my_list))

1001,1008,1022,1029,1036,1043,1057,1064,1071,1078,1092,1099,1106,1113,1127,1134,1141,1148,1162,1169,1176,1183,1197,1204,1211,1218,1232,1239,1246,1253,1267,1274,1281,1288,1302,1309,1316,1323,1337,1344,1351,1358,1372,1379,1386,1393,1407,1414,1421,1428,1442,1449,1456,1463,1477,1484,1491,1498,1512,1519,1526,1533,1547,1554,1561,1568,1582,1589,1596,1603,1617,1624,1631,1638,1652,1659,1666,1673,1687,1694,1701,1708,1722,1729,1736,1743,1757,1764,1771,1778,1792,1799,1806,1813,1827,1834,1841,1848,1862,1869,1876,1883,1897,1904,1911,1918,1932,1939,1946,1953,1967,1974,1981,1988,2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198

In [29]:
words = []
while True:
    char = input()
    if char:
        words.append(char.upper())
        # while 문을 통해 char = input() 의 입력을 계속해서 받으므로,
        # 입력할 데이터가 끝났으면 아무것도 입력하지 않고 엔터를 입력한다.
    else:
        break
print(words)
for word in words:
    print(word)

apple
banana
shit

['APPLE', 'BANANA', 'SHIT']
APPLE
BANANA
SHIT

In [35]:
values = []
for i in range(100,300):
    char = str(i)

    if (int(char[0])%2==0) and (int(char[2])%2==0):
        values.append(char)
print(values)
print(",".join(values))

['200', '202', '204', '206', '208', '210', '212', '214', '216', '218', '220', '222', '224', '226', '228', '230', '232', '234', '236', '238', '240', '242', '244', '246', '248', '250', '252', '254', '256', '258', '260', '262', '264', '266', '268', '270', '272', '274', '276', '278', '280', '282', '284', '286', '288', '290', '292', '294', '296', '298']
200,202,204,206,208,210,212,214,216,218,220,222,224,226,228,230,232,234,236,238,240,242,244,246,248,250,252,254,256,258,260,262,264,266,268,270,272,274,276,278,280,282,284,286,288,290,292,294,296,298

## del, remove, pop
- remove()는 지우고자 하는 인덱스가 아닌, 값을 입력하는 방식
- pop()과 del은 지우고자 하는 리스트의 인덱스를 받아서 지우는 방식
- pop()은 지워진 인덱스의 값을 반환하지만 del은 반환하지 않습니다. 이 차이 때문에 미세하게 del이 pop()보다 수행속도가 더 빠릅니다. 또한 remove()와 동일하게 pop()과 del은 특정 인덱스를 삭제한 다음, 리스트를 재조정합니다. 

https://brownbears.tistory.com/452

In [72]:
list1 = [11, 12, 43, 4, 6]
for i in list1.copy():
    if not i % 2 :
        list1.remove(i)
print(list1)

[11, 43]

In [73]:
list2 = [11, 12, 43, 4, 6]
for i in list2:
    if not i % 2:
        list2.remove(i)
print(list2)

[11, 43, 6]

AI_05_정세연 — 오늘 오후 7:59
렉쳐노트 del,remove,pop부분말인데요,,
```
list1 = [11, 12, 43, 4, 6]
for i in list1.copy():
    if not i % 2 :
        list1.remove(i)
print(list1)
이거는 결과가 [11,43]이고
list2 = [11, 12, 43, 4, 6]
for i in list2:
    if not i % 2:
        list2.remove(i)
print(list2)
이렇게 하면 결과가 [11, 43, 6] 나오거든요..??
```
왜 이럴까요..? 6이 둘다 안나와야 맞을 것 같은데
copy를 안해준 부분에서는 그냥 6이 나오네요

AI_05_이주연 — 오늘 오후 8:44
이거 저도 궁금해서 직접 디버깅 해봤는데... copy를 안 하면 for문을 돌때마다 리스트에 있는 값이 직접 삭제돼서 모든 값이 for문에 적용되지 않는 것 같아요.
for문에서 11->12->43->4->6이 모두 도는게 아니라
첫번째 인덱스의 11 -> 삭제되지 않음 -> 두번째 인덱스의 12 -> 12는 짝수이므로 삭제됨 [11,43,4,6] -> 변경된 리스트에서 세번째 인덱스값(4) 으로 넘어감 -> 4가 짝수이므로 삭제됨[11,43,6] -> 변경된 리스트에서 네번째 인덱스값으로 넘어가야 하는데 값이 없어서 for문 종료
이런식인 것 같아요... 혹시 이해가 가실까요?
그래서 43이 있는 자리는 홀수 짝수 여부와 상관 없이 무조건 출력됩니다. 실제로 40을 넣어봐도 [11,40,6]이 나오는 걸 확인하실 수 있습니다!

AI_05_박예은 — 오늘 오후 8:54
인덱스 튕기는게 재밌네요 ㅎㅎ , 주연님이 이미 설명해주신 부분 요렇게 참고해보셔도 좋을 것 같아요 ! - print(i) / print(list2) 추가된 내용이에요!

In [86]:
list4 = [11,12,43,4,6]
for i in list4:
    print(i)
    if not i % 2:  # 짝수인 경우 참
        list4.remove(i)
    print(list4)
print(list4)

11
[11, 12, 43, 4, 6]
12
[11, 43, 4, 6]
4
[11, 43, 6]
[11, 43, 6]

그런데 아까전엔 지나치듯 봐서 몰랐는데, 
if not i % 2
 이 부분이 왜 짝수를 지정할까요? 
i%2는 만약 i가 짝수라면 0이고, i가 홀수라면 1이 되죠..?
if not ==> ~~ 이 아니라면
if not i%2 ==> 만약 i%2가 아니라면, list에서 i를 remove해라. 
<만약 i%2가 아니라면>  ==> 이 부분 잘 이해가 안되네요..  차라리 
if not (i%2 == 1):
 이렇게 되면,, 짝수일 때 remove해라 라고 이해될 텐데요 

AI_05_정인중 — 오늘 오후 9:37
정수에서 0은 bool값에서 False로 해석돼요. 따라서 i%2는 i를 2로나눴을때 나머지값이 나오기때문에 짝수일 경우에는 0이 나오므로 False인데 앞에 not이 있으니까 True가 됩니다

아..  그러니까, 짝수면 if not False가 되어서, i를 지워라 가 되는거고, 홀수면 if not True가 되어서, False가 되니까 아래의 remove를 실행하지 않게 되네요! 감사합니다 🤩

In [83]:
list2 = [11, 12, 43, 4, 6]
for i in list2:
    if not i % 2:
        print(i)

12
4
6

In [85]:
list4 = [11,12,43,4,6]
for i in list4:
    print(i)
    if not (i % 2==1):  # 짝수인 경우 참
        list4.remove(i)
    print(list4)
print(list4)

11
[11, 12, 43, 4, 6]
12
[11, 43, 4, 6]
4
[11, 43, 6]
[11, 43, 6]

In [61]:
list3 = [11, 12, 43, 4, 6]
ll = list3.copy()
print(id(ll), id(list3))
print(list3, ll)
del list3[3]
print(list3,ll)

140653974586304 140653974586384
[11, 12, 43, 4, 6] [11, 12, 43, 4, 6]
[11, 12, 43, 6] [11, 12, 43, 4, 6]

In [68]:
my_list = [1, 2, 3, 4, 5]
my_list[0] = 99
print(my_list)

del my_list[0]
print(my_list)

[99, 2, 3, 4, 5]
[2, 3, 4, 5]

In [69]:
my_list = [1, 2, 3, 4, 5]
my_list[0] = 99
print(my_list)

my_list.pop()
print(my_list)

[99, 2, 3, 4, 5]
[99, 2, 3, 4]

## count()와 index()
- count() : 지정된 값의 출현 횟수
- index() : 지정된 값의 첫 번째 인덱스를 내주는 메서드

In [70]:
my_list = ['xyz', 'XYZ' 'abc', 'ABC']
print("Index for xyz : ",  my_list.index( 'xyz' ))
print("Index for ABC : ",  my_list.index( 'ABC' ))

Index for xyz :  0
Index for ABC :  2

In [71]:
my_list = ['xyz', 'XYZ' 'abc', 'ABC']
print("Count for xyz : ",  my_list.count( 'xyz' ))
print("Count for ABC : ",  my_list.count( 'ABC' ))

Count for xyz :  1
Count for ABC :  1

In [74]:
# 뭘 하려고 하는건지 모르겠음.
import math
def bin_search(li,element):
    bottom = 0
    top = len(li)-1  #6
    index = -1
    while top >= bottom and index == -1:
        mid = int(math.floor((top+bottom) / 2.0))   # 실수를 입력하면내림하여 정수를 반환하는 함수
        if li[mid] == element:
            index = mid
        elif li[mid] > element:
            top = mid-1
        else:
            bottom = mid+1
    return index

li=[2,5,7,9,11,17,222]
print(bin_search(li,11))
print(bin_search(li,102))

4
-1

## enumerate

In [77]:
li = [12,24,35,70,88,120]
for (i,x) in enumerate(li):  # 순서가 있는 자료형(list, set, tuple, dictionary, string)을 입력으로 받아 인덱스 값을 포함하는 enumerate 객체를 리턴
    print(i, x)
    if i not in (0,3,5):
       li = x
print(li)

0 12
1 24
2 35
3 70
4 88
5 120
88

## set과 add()

In [79]:
def list_update(data):
    new_li=[]
    new_set = set()
    for item in data:
        if item not in new_set:
            new_set.add(item)   # set에서는 요소를 추가할 때 add()함수를 쓴다. 
            new_li.append(item)

    return new_li, new_set

list_test=[120,120,10,20,30,20]
print(list_update(list_test))

([120, 10, 20, 30], {120, 10, 20, 30})

## sort, sorted, 다중정렬

https://cigiko.cafe24.com/python-%EC%A0%95%EB%A0%AC%ED%95%98%EA%B8%B0-sort%EC%99%80-sorted/

In [80]:
from operator import itemgetter
# operator.itemgetter 모듈은 주로 sorted와 같은 함수의 key 매개변수에 적용되어 다중 수준의 정렬을 가능하게 해주는 모듈

l = []
while True:
    s = input()
    if not s:
        break
    l.append(tuple(s.split(",")))  # 입력받는 s를 ,로 나눈다음 tuple로 만들어서 list에 추가해줘라.

print(sorted(l, key=itemgetter(0,1,2)))  #리스트를 정렬한다. key를 기준으로 하여 순서대로

adam, 10, Newyork
John, 5, Afreeca
miho, 35, juji
AAdo, 22, age

[('AAdo', ' 22', ' age'), ('John', ' 5', ' Afreeca'), ('adam', ' 10', ' Newyork'), ('miho', ' 35', ' juji')]

## 딕셔너리 : get()

In [90]:
dic = {}
s=input()
for s in s:
    dic[s] = dic.get(s,0)+1  # get(찾고자하는 key, 찾는key가 없을 때 딕셔너리에 key와 함께 추가할 value)\
print(dic)
print(['%s,%s' % (k, v) for k, v in dic.items()])
print('\n'.join(['%s,%s' % (k, v) for k, v in dic.items()]))

hello, world
{'h': 1, 'e': 1, 'l': 3, 'o': 2, ',': 1, ' ': 1, 'w': 1, 'r': 1, 'd': 1}
['h,1', 'e,1', 'l,3', 'o,2', ',,1', ' ,1', 'w,1', 'r,1', 'd,1']
h,1
e,1
l,3
o,2
,,1
 ,1
w,1
r,1
d,1

# lambda
람다 함수의 장점은 함수 객체를 반환한다. 따라서 함수 객체를 인수로 필요로하는 map 또는 filter와 같은 함수와 함께 사용할 때 유용하다.

In [1]:
# 함수정의
define_word = (lambda word1,define :  word1 * define)

# 함수호출
result = define_word('call_result_',5)

# 결과출력
print(result)

call_result_call_result_call_result_call_result_call_result_

## map(function, iterable)
- 첫 번째 매개변수로는 함수가 오고 두 번째 매개변수로는 반복 가능한 자료형(리스트, 튜플 등)이 옵니다.
- map 함수의 반환 값은 map객체 이기 때문에 해당 자료형을 list 혹은 tuple로 형 변환시켜주어야 합니다.

- 함수의 동작은 두 번째 인자로 들어온 반복 가능한 자료형 (리스트나 튜플)을 첫 번째 인자로 들어온 함수에 하나씩 집어넣어서 함수를 수행하는 함수입니다.

- map(적용시킬 함수, 적용할 값들) 이런 식인 거죠.



출처: https://blockdmask.tistory.com/531 [개발자 지망생]

In [3]:
# 리스트 생성
spelling = ["test1", "test2", "test4 test5", "test3"]

# 람다함수적용
shout_spells = map(lambda item: item + ('!!!'), spelling)  # map(function, iterable)



# 리스트형태로 변환
shout_spells_list = list(shout_spells)

# 결과출력
print(shout_spells)
print(shout_spells_list)

<map object at 0x7f89081bc310>
['test1!!!', 'test2!!!', 'test4 test5!!!', 'test3!!!']

## filter(조건 함수, 순회 가능한 데이터)

filter() 함수는 두번째 인자로 넘어온 데이터 중에서 첫번째 인자로 넘어온 조건 함수를 만족하는 데이터만을 반환합니다.

In [4]:
# 리스트 생성
fellowship = ['frodo', 'samwise', 'merry', 'pippin', 'aragorn', 'boromir', 'legolas', 'gimli', 'gandalf']

# 람다함수적용
result = filter(lambda member: len(member) > 6, fellowship)  # True 만 반환

# 리스트형태로 변환
result_list = list(result)

# 결과출력
print(result_list)

['samwise', 'aragorn', 'boromir', 'legolas', 'gandalf']

## reduce(function, iterable, initializer=None)
reduce(집계 함수, 순회 가능한 데이터[, 초기값])

기본적으로 초기값을 기준으로 데이터를 루프 돌면서 집계 함수를 계속해서 적용하면서 데이터를 누적하는 방식으로 작동합니다.

 첫번째 인자는 누적자(accumulator), 두번째 인자는 현재값(current value)가 넘어오게 됩니다. 누적자는 함수 실행의 시작부터 끝까지 계속해서 재사용되는 값이고, 현재값은 루프 돌면서 계속해서 바뀌는 값입니다.

 https://www.daleseo.com/python-functools-reduce/

 단점 : # 람다 : 에러가 뜰 때 어느 부분에서 뜨는지 알수 없다. 


map-reduce-filter 차이 :  https://gonigoni.kr/posts/python-map-reduce-filter/

In [5]:
# functools 모듈 사용
from functools import reduce

# 리스트 생성
stark = ['robb', 'sansa', 'arya', 'brandon', 'rickon']

# 람다함수적용
result = reduce(lambda item1, item2:  item1+item2, stark)

# 결과출력
print(result)

robbsansaaryabrandonrickon

In [9]:
from functools import reduce


func = lambda a, b: a if (a > b) else b  # 만약 a가 b보다 크면 func는 a이고, 아니면 b이다.
result = reduce(func, [1, 100, 2, 55])  # reduce는 func에 1,100을 차례로 넣어줌.

print(result)

# 100

100