<a href="https://colab.research.google.com/github/dagyaom/Python_Practice/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EA%B8%B0%EB%B3%B8%EB%AC%B8%EB%B2%95%2C_%EC%9E%90%EB%A3%8C%EA%B5%AC%EC%A1%B0%2C_%EB%94%94%EB%B2%84%EA%B9%85.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

일단 위험을 감수하더라도 실행해라. 파이썬이란 그런 것. 

파이썬의 개념과 작동방식도 함께 학습하기.


 Reference

Lists and Tuples in Python : https://realpython.com/python-lists-tuples/

Dictionaries in Python : https://realpython.com/python-dicts/

파이썬 정규표현식 : https://docs.python.org/ko/3.9/howto/regex.html

VScode Python Debug : https://www.youtube.com/watch?v=KoXstAR5pto&t=303s

In [ ]:
import antigravity
import this

- 좋은 코드란??
간결한 코드.
- 파이쏘닉한 코드란??  ```import this```
--> The Zen of Python 검색.


- 리스트 : 'linked list'가 파이썬에 내장된 것. 

- 파이썬의 '디버깅'은 디버깅 보조도구지 디버깅 그 자체는 아니다. 
- 눈으로 봐서 어? 여기 에러가 있다 라고 보는것도 디버깅이다. 디버깅은 우리의 뇌에 있다.

In [37]:
import pandas as pd
# 판다스에 대한 설명
pd?

In [38]:
# 코드 설명
pd??

In [ ]:
pd.DataFrame?

In [ ]:
pd.DataFrame??

In [33]:
# 인트로 문제
# 1부터 20까지 숫자 출력하기

def first():
  for i in range(1,20):
    print(i)

first()


# 의문점 : 왜 1~20 이 아니라 1~19일까?? --> 구글 'range syntax'
# 파이썬은 defualt가 있는건 옵션. 없는건 required(필수인자)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [41]:
# https://lovelydiary.tistory.com/297
# 1부터 50까지 숫자 중, 3과 5의 공배수 구하기
def second():

  for i in range(1,51):
    if i%3==0 and i%5==0:
      print(i)

if __name__ == "__main__":  # 이것의 의미는 뭘까??? : 프로그램의 시작점일 때만 아래코드 실행. 모듈로 가져오면 아무것도 출력되지 않는다. 
  second()
# second()

# https://lovelydiary.tistory.com/297
# https://dojang.io/mod/page/view.php?id=2448

15
30
45

In [45]:
# 숫자를 입력받고 함수 자신을 계속해서 호출하여 0부터 입력된 숫자까지 출력해보기
test_num = int(input())

6

In [46]:
# case 1 - 조건문을 사용하고, 함수 자신을 호출하자.
def third(test_num):
    if test_num > 0:
        third(test_num - 1)   ## --> 여기서 어떻게 되는거지???
    print(test_num)  # 왜 똑바로 출력되는 걸까??? 31부터 나와야 할것같은데.

third(test_num)

0
1
2
3
4
5
6

In [ ]:
# def 함수이름() :
#    return 0
# 함수이름 법칙 :firstFunc 보다는  first_func

# 괄초 안에는 파라미터 값이 들어간다.

In [47]:
# case 2 - for 반복문만 사용하자.

i=0
for num in range(i, test_num+1):
    print(num)

0
1
2
3
4
5
6

In [50]:
# 생각해보기 case 3 - for 반복문을 사용하고 함수 자신을 호출하자.(이 방법은 비효율적이다. 왜 비효율적일까?)

t = test_num
def third(test_num) : 
    i = 0
    for i in range(i, test_num+1) :
        print(t-test_num)
        test_num = test_num -1
        third(test_num)   ## 여기도 마찬가지. 왜 0이 출력되는 거지???
third(test_num)

0
1
2
3
4
5
6
6
5
6
6
4
5
6
6
5
6
6
3
4
5
6
6
5
6
6
4
5
6
6
5
6
6
2
3
4
5
6
6
5
6
6
4
5
6
6
5
6
6
3
4
5
6
6
5
6
6
4
5
6
6
5
6
6
1
2
3
4
5
6
6
5
6
6
4
5
6
6
5
6
6
3
4
5
6
6
5
6
6
4
5
6
6
5
6
6
2
3
4
5
6
6
5
6
6
4
5
6
6
5
6
6
3
4
5
6
6
5
6
6
4
5
6
6
5
6
6

In [51]:
# Values and Types(값과 타입)
# 파이썬의 모든 자료형은 클래스로 구현되었기 때문에, 클래스 이름이 자료형이다.
print(type(6))

print(type(36.0))

print(type('Hello, World!'))

print(type(list()))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'list'>

In [52]:
# Variables, Expressions, and Statements(변수, 표현, 구문)
greeting = 'Good afternoon, sir!'
x = 23
pi = 3.141592653589793

# https://myksb1223.github.io/python/2018/07/22/Understand-Python-Statement-Expression-Indentation.html
# The important difference is that an expression has a value; a statement does not.:https://www.greenteapress.com/thinkpython/html/thinkpython003.html

In [67]:
# 케이스 1 - IndentationError: expected an indented block

# 에러 정리 : https://docs.python.org/3/library/exceptions.html

def print_list(list):
for item in list: # 에러 확인 및 해결필요  
print(item)

IndentationError: ignored

In [61]:
# 케이스 2 - SyntaxError: invalid syntax
123ddf 


# invalid syntax  '파이썬(Python)에서는 쓰지 않는 문법'이라는 의미 
# ○ 해결책 : 오류난 문법 위치를 찾아 수정해야 함.
    #  - print(  ) 함수에서 작은 따옴표를 넣었는지 확인
    #  - 연산시 등호를 사용했는지 확인 등

SyntaxError: ignored

In [62]:
# 케이스 3 - KeyboardInterrupt 

while True:
  1

# Raised when the user hits the interrupt key (normally Control-C or Delete).

KeyboardInterrupt: ignored

In [69]:
# 케이스 4 - TypeError

print(1) / 232  #TypeError: unsupported operand type(s) for /: 'NoneType' and 'int'

a,b = 0   #TypeError: cannot unpack non-iterable int object
print(a,b)

TypeError: ignored

In [70]:
# 케이스 5 - ZeroDivisionError

value = 2/0

ZeroDivisionError: ignored

In [72]:
# 케이스 6 - 경고

a = 0
c =0
a,c, # 에러는 보이지 않는 메모리 상에 안 좋은 영향을 준다. ### ??? 경고가 안나요...

(0, 0)

In [ ]:
# 파이썬에서는 변수를 선언할 때 값에 대해 데이터타입을 사전에 정의해놓지 않는다.
# 어떤 변수에 어떤 데이터타입을 넣을 건지 조심해야 함..!

# 기본문법

## 주석(Comments)
- 목적 :협업, 재사용

<작성하는 것은 주로> 
- 클래스, 함수의 기능
- 변수에 대한 명명규칙
- 소스코드 작성날짜 및 수정날짜


-- 공식적인 주석(외부제출용)인 경우, 구어체가 아닌 형태로 핵심적인 부분만 주석을 작성한다.

-- 내부공유용이거나 설명을 위한 소스코드인 경우, 재사용과 내용공유를 목적으로 하여 용어에 대한 풀이 및 이해 내용을 상세히 적는다.

In [ ]:
# 멀티라인 주석 : 함수나 클래스에 대한 문서를 만들때 사용함. (함수에 대한 설명이 바로 나온다. )
"""
여러 줄을 주석으로 작성하고 싶을 때 사용
"""

# VS에서는 함수에 대한 설명이 함수 위로 나옴
# 만약 #으로 주석처리하면 설명이 안나옴.

In [ ]:
### 주석 케이스1. 원통의 표면 계산
surface_area = (2 * pi * radius) * (height + radius)

surface_area = (2 * pi * radius) * (height + radius) # 주석 케이스2. compute the surface area of a cylinder

In [ ]:
# 실제 예시(외부에서 사용된 소스코드)

import matplotlib.pyplot as plt # pyplot : interactive plots and simple cases

# Look at index 4 and 6, which demonstrate overlapping cases.
x1 = [1, 3, 4, 5, 6, 7, 9]
y1 = [4, 7, 2, 4, 7, 8, 3]

x2 = [2, 4, 6, 8, 10]
y2 = [5, 6, 2, 6, 2]

# Colors: https://matplotlib.org/api/colors_api.html, 외부 url 참조시

plt.bar(x1, y1, label="Blue Bar", color='b')
plt.bar(x2, y2, label="Green Bar", color='g')
plt.plot()  # 시각화 1단계

plt.xlabel("bar number")
plt.ylabel("bar height")
plt.title("Bar Chart Example")
plt.legend() # 시각화 2단계 - 범례 추가
plt.show()  # 시각화 3단계 - 그림형태로 표시

## 반복문(for, while)
- 실무 측면에서 while문은 조건을 많이 둘 수 없기 때문에 for문을 선호한다.

In [76]:
### 입력변수

y = int(input())
for i in range(y,5):
    print(i)

6

In [80]:
### set변수
y = {1,3,3,5,10}
for i in y: 
    print(i)

1
10
3
5

In [81]:
### 리스트변수
y = [1,3,3,5,10]
for i in y: 
    print(i)

1
3
3
5
10

In [82]:
### 튜플변수
y = (1,3,3,5,10)
for i in y: 
    print(i)

1
3
3
5
10

In [1]:
# 반복문 :for move 돌릴 때 할수 있는 것? 

### 딕셔너리변수
y = {'a':1,'b':3,'c':3}
for i in y: 
    print(i)
    
# 키만 출력
# items() : 둘다 출력ㄱ가능.

a
b
c

In [2]:
for i in y.items(): 
    print(i)

('a', 1)
('b', 3)
('c', 3)

In [6]:
for i, j in y.items(): 
    print('key: ',i)
    print('value: ', j)

key:  a
value:  1
key:  b
value:  3
key:  c
value:  3

In [3]:
for i in y.keys(): 
    print(i)

a
b
c

In [4]:
for i in y.values(): 
    print(i)

1
3
3

In [11]:
# for 문 : 특정 범위가 주어지면 범위 끝날떄까지 반복
# while 문 : 특정 조건에 따라 종료되거나 실행됨. # 조건이 True면 실행이 되고, False면 실행이 안됨.

count = 0
while count < 5:
    print(count)
    count += 1

print('end file')

0
1
2
3
4
end file

In [ ]:
count = 0
while True:     #--> 무한대로 실행.
    print(count)
    count += 1

print('end file')

In [13]:
count = 0
while False:    # --> False 면 실행을 안함.
    print(count)
    count += 1

print('end file')

end file

In [14]:
# break의 기능
count = 0
while True:   
    print(count)
    count += 1

    if count > 8:
        break  # while move를 종료한다.  # 조건에 맞는 경우 break을 통해 조건문과 반복문에서 탈출.

print('end file')

0
1
2
3
4
5
6
7
8
end file

In [1]:
# 클래스, 함수 break test

class break_test:
    print('class')

    def break_def_test():
        print('func')

        while 1:
            print('while')
            break

# b = break_test
# print('-----')
# b.break_def_test()
# print('-----')
print("1")

class
1

In [4]:
class break_test:
    print('class')

    def break_def_test():
        print('func')

        while 1:
            print('while')
            break

print('-----')
b = break_test
b.break_def_test()
print('-----')
print("1")

# class 란???

class
-----
func
while
-----
1

In [7]:
# 함수 break test
def break_func_test():
    print("func")
    
    while 1:
      print('while')
      break

break_func_test()
print('1')

func
while
1

In [8]:
# continue 기능

for x in range(8):
    # x를 2로 나눴을 때 나머지가 0이면(조건문 == 참), x값은 그대로 (+)하면서 반복문부터 재시작.
    if x % 2 == 0:
        continue
    print(x)

1
3
5
7

In [9]:
# Boolean Expressions(부울식)
print(2 == 2) #

print(4 == 8) #

print(type(True)) #

print(type(False)) #

True
False
<class 'bool'>
<class 'bool'>

In [10]:
# Logical Operators(논리 연산자)
print(True and True)  # True

print(True and False) # False

print(False and False) # False

print(True or False) # True

print(True or True) # True

print(False or False) # False

print(not True) # False

print(not False) # True

True
False
False
True
True
False
False
True

In [83]:
count = 0
while True:   
    print(count)
    count += 1
    # count = 12 --> 12>8 => 참. Ture. => 이런 값들을 Truthy 라고 한다. : [0], 1, True ... 
    if count > 8:  # 이게 동작하는 이유는 count가 8보다 크기때문.
        break  

print('end file')

0
1
2
3
4
5
6
7
8
end file

In [15]:
if True:
    print('if condition is truthy')

print('end file')

if condition is truthy
end file

In [16]:
if False:  # -->Falsy값들은 실행안됨. 0, '', False, [], {}
    print('if condition is truthy')  #동작하지 않는다. 

print('end file')

end file

In [17]:
if 1:  #1을 넣으면 --> 실행됨.
    print('if condition is truthy')  #동작하지 않는다. 

print('end file')

if condition is truthy
end file

In [19]:
if 'A':  # 문자열 넣어도, 실행됨.
    print('if condition is truthy')  #동작하지 않는다. 

print('end file')

if condition is truthy
end file

In [ ]:
if 0 :   #0을 넣으면 실행안됨.
    print('if condition is truthy')  #동작하지 않는다. 

print('end file')

In [20]:
if not True:  # Truthy는 Falsy로, Falsy는 Truthy로 돌아간다. 
    print('if condition is truthy') 

print('end file')

end file

In [21]:
if 'string':  
    print('if condition is truthy') 

print('end file')

if condition is truthy
end file

In [22]:
if not 'string':  # Truthy는 Falsy로, Falsy는 Truthy로 돌아간다. 
    print('if condition is truthy') 

print('end file')

end file

In [11]:
x = -4

if x < 0:
    print('x is negative') #

x is negative

In [ ]:
# Chained Conditionals(다중 조건문)
# 조건을 여러개 구분짓는 경우 : if, elif, else
# Nested Conditionals(중첩조건)
# 하나의 조건 안에 또 다른 조건을 거는 경우(조건 안에 조건) : 쓰는이유 http://ivis.kr/images/d/df/2017_CP_6%EC%9E%A5.pdf


x, y = 3, 5

if x == y:
    print('x and y are equal')
else:
    if x < y:
        print('x is less than y')
    else: 
        print('x is greater than y')

# 파이썬 기본 자료구조
- 기본자료형 : 숫자, 문자열
- 컬렉션 자료형 : 리스트, 튜플, 셋, 딕셔너리. 여러개의 데이터타입을 저장 가능.

## 리스트
- 컬렉션 자료형에서 가장 많이 쓰이는 자료형이다.

 - 인덱스와 메소드를 활용하기때문에 동적으로 값의 수정 및 정렬이 쉽다.
- 기본적으로 리스트 만드는 법은 대괄호를 활용하는 것이다. ex) [ and ]

- 리스트는 동적이다.

 - 동적이라 함은 메소드를 사용해 값을 추가하거나 제거가능

  - 리스트를 활용하는 경우를 예를 들면, 비행기게임을 만드는데 리스트에 비행기를 저장하고, 적군에게 맞으면 리스트에서 비행기를 삭제하는 방법을 사용할 수 있다.
- 튜플과의 차이점 : 리스트는 메소드를 활용하여 값 수정가능.

- 딕셔너리와 차이점 : 인덱스를 기반으로 값을 저장하고 수정할 수 있다.

- 파이썬 리스트는 탐색, 삽입, 삭제와 같은 연산에 대한 메소드를 갖고 있으므로 단순 자료형이 아닌 자료구조의 형태를 취한다.

- 리스트는 프로그래밍에서 기본적으로 사용되는 값을 여러개 저장할 수 있는 기능인 배열의 기능 또한 갖고 있다.

- 하나의 리스트에 문자열, 숫자 타입 모두 넣을 수 있다.
``` 
[2, 'four', 6.0, '8', [5, 5]]
```
- 리스트안에 리스트를 넣을 수 있다.(다차원 리스트)
 - 다차원 리스트는 게임개발, 대규모 머신러닝 알고리즘에서 사용된다.

In [12]:
cheeses = ['Cheddar', 'Edam', 'Gouda']
numbers = [123, 456]

empty = []
print(cheeses, numbers, empty)
print('numbers[1] :',numbers[1])
print('numbers[0] :',numbers[0])
print('numbers :',numbers)

['Cheddar', 'Edam', 'Gouda'] [123, 456] []
numbers[1] : 456
numbers[0] : 123
numbers : [123, 456]

In [ ]:
# 중첩 리스트(2차원 리스트), 3차원 리스트,,, 

# 리스트는 순서를 매긴다. 순서 = '인덱스'라고 함. 바뀌는 값을 저장.

# 튜플 : 리스트와 같지만 한번 정하면 바꿀 수 없다. 바뀌지 않는 값을 저장

In [25]:
l1 = ['hello', 'world', 2]

print(l1[0])
print(l1[1])
print(l1[2])

hello
world
2

In [27]:
l1 = ['hello', 'world', 2]
l1[2] =4

print(l1[0])
print(l1[1])
print(l1[2])
# 리스트는 바꾸기 가능

hello
world
4

In [29]:
t1 = ('hello', 'world', 2)
# t1[2] =4

print(t1[0])
print(t1[1])
print(t1[2])

hello
world
2

In [30]:
t1 = ('hello', 'world', 2)
t1[2] =4

print(t1[0])
print(t1[1])
print(t1[2])

# 에러. 튜플은 바꿀 수 없다. 
# 따라서 튜플이 좀 더 가볍다.
# 리스트는 많은 메서드가 동반된다.

TypeError: ignored

In [ ]:
# 키:값 형태로 저장되는 딕셔너리. 
# 특정 키를 기준으로 찾을 떄 편하다
# 리스트 :순서적인 것들이 있을 때 저장하기 편함. 키로 찾을 수는 없기때문에, 아무 자료나 막 넣을 때 편함. 여러개의 객체를 저장할 때.
# 딕셔너리는 키로 구별을 해야할 떄 많이 쓴다.

In [ ]:
## 파이썬 디버깅.

# 코드의 문제가 생긴다..? 어디에서 문제가 발생하는지 알 수 있어야 함. (Pdb) 가 나오면서 프로그램이 멈춘다. :but,#실질적으로 코드를 작성하진 못한다. 
# 실제로 코드가 제대로 동작하는지. 오류를 해결하기 위해, 특정 상황을 예방하기 위해 여러가지 상황을 시도하기 위해 사용.
# exit로 나갈 수 있다.


import pdb
pdb.set_trace()

= breakpoint() # --> pdb.set_trace()  명령어를 호출하는 것.

step : 함수가 호출되거나 함수 다음중에서 멈추게 된다.
nest :현재 함수 실행도중 리턴문구에 도달함.

In [31]:
from unittest import TestCase

class PythonBooleans(TestCase):
    def truth_function(self, condition):
        if condition:
            return True
        else:
            return False

class PythonBooleans():
    def truth_function(self, condition):
        if condition:
            return True
        else:
            return False

In [32]:
pb_ins = PythonBooleans()

pb_ins.truth_function(True)

True