<a href="https://colab.research.google.com/github/dagyaom/Python_Practice/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EA%B8%B0%EB%B3%B8%EB%AC%B8%EB%B2%95%2C_%EC%9E%90%EB%A3%8C%EA%B5%AC%EC%A1%B0%2C_%EB%94%94%EB%B2%84%EA%B9%85.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

일단 위험을 감수하더라도 실행해라. 파이썬이란 그런 것. 

파이썬의 개념과 작동방식도 함께 학습하기.


 Reference

Lists and Tuples in Python : https://realpython.com/python-lists-tuples/

Dictionaries in Python : https://realpython.com/python-dicts/

파이썬 정규표현식 : https://docs.python.org/ko/3.9/howto/regex.html

VScode Python Debug : https://www.youtube.com/watch?v=KoXstAR5pto&t=303s

In [ ]:
import antigravity
import this

- 좋은 코드란??
간결한 코드.
- 파이쏘닉한 코드란??  ```import this```
--> The Zen of Python 검색.


- 리스트 : 'linked list'가 파이썬에 내장된 것. 

- 파이썬의 '디버깅'은 디버깅 보조도구지 디버깅 그 자체는 아니다. 
- 눈으로 봐서 어? 여기 에러가 있다 라고 보는것도 디버깅이다. 디버깅은 우리의 뇌에 있다.

In [ ]:
import pandas as pd
# 판다스에 대한 설명
pd?

In [ ]:
# 코드 설명
pd??

In [ ]:
pd.DataFrame?

In [ ]:
pd.DataFrame??

In [ ]:
# 인트로 문제
# 1부터 20까지 숫자 출력하기

def first():
  for i in range(1,20):
    print(i)

first()


# 의문점 : 왜 1~20 이 아니라 1~19일까?? --> 구글 'range syntax'
# 파이썬은 defualt가 있는건 옵션. 없는건 required(필수인자)

In [ ]:
# https://lovelydiary.tistory.com/297
# 1부터 50까지 숫자 중, 3과 5의 공배수 구하기
def second():

  for i in range(1,51):
    if i%3==0 and i%5==0:
      print(i)

if __name__ == "__main__":  # 이것의 의미는 뭘까??? : 프로그램의 시작점일 때만 아래코드 실행. 모듈로 가져오면 아무것도 출력되지 않는다. 
  second()
# second()

# https://lovelydiary.tistory.com/297
# https://dojang.io/mod/page/view.php?id=2448

In [ ]:
# 숫자를 입력받고 함수 자신을 계속해서 호출하여 0부터 입력된 숫자까지 출력해보기
test_num = int(input())

In [ ]:
# case 1 - 조건문을 사용하고, 함수 자신을 호출하자.
def third(test_num):
    if test_num > 0:
        third(test_num - 1)   ## --> 여기서 어떻게 되는거지???
    print(test_num)  # 왜 똑바로 출력되는 걸까??? 31부터 나와야 할것같은데.

third(test_num)

In [ ]:
# def 함수이름() :
#    return 0
# 함수이름 법칙 :firstFunc 보다는  first_func

# 괄초 안에는 파라미터 값이 들어간다.

In [ ]:
# case 2 - for 반복문만 사용하자.

i=0
for num in range(i, test_num+1):
    print(num)

In [ ]:
# 생각해보기 case 3 - for 반복문을 사용하고 함수 자신을 호출하자.(이 방법은 비효율적이다. 왜 비효율적일까?)

t = test_num
def third(test_num) : 
    i = 0
    for i in range(i, test_num+1) :
        print(t-test_num)
        test_num = test_num -1
        third(test_num)   ## 여기도 마찬가지. 왜 0이 출력되는 거지???
third(test_num)

In [ ]:
# Values and Types(값과 타입)
# 파이썬의 모든 자료형은 클래스로 구현되었기 때문에, 클래스 이름이 자료형이다.
print(type(6))

print(type(36.0))

print(type('Hello, World!'))

print(type(list()))

In [ ]:
# Variables, Expressions, and Statements(변수, 표현, 구문)
greeting = 'Good afternoon, sir!'
x = 23
pi = 3.141592653589793

# https://myksb1223.github.io/python/2018/07/22/Understand-Python-Statement-Expression-Indentation.html
# The important difference is that an expression has a value; a statement does not.:https://www.greenteapress.com/thinkpython/html/thinkpython003.html

In [ ]:
# 케이스 1 - IndentationError: expected an indented block

# 에러 정리 : https://docs.python.org/3/library/exceptions.html

def print_list(list):
for item in list: # 에러 확인 및 해결필요  
print(item)

In [ ]:
# 케이스 2 - SyntaxError: invalid syntax
123ddf 


# invalid syntax  '파이썬(Python)에서는 쓰지 않는 문법'이라는 의미 
# ○ 해결책 : 오류난 문법 위치를 찾아 수정해야 함.
    #  - print(  ) 함수에서 작은 따옴표를 넣었는지 확인
    #  - 연산시 등호를 사용했는지 확인 등

In [ ]:
# 케이스 3 - KeyboardInterrupt 

while True:
  1

# Raised when the user hits the interrupt key (normally Control-C or Delete).

In [ ]:
# 케이스 4 - TypeError

print(1) / 232  #TypeError: unsupported operand type(s) for /: 'NoneType' and 'int'

a,b = 0   #TypeError: cannot unpack non-iterable int object
print(a,b)

In [ ]:
# 케이스 5 - ZeroDivisionError

value = 2/0

In [ ]:
# 케이스 6 - 경고

a = 0
c =0
a,c, # 에러는 보이지 않는 메모리 상에 안 좋은 영향을 준다. ### ??? 경고가 안나요...

In [ ]:
# 파이썬에서는 변수를 선언할 때 값에 대해 데이터타입을 사전에 정의해놓지 않는다.
# 어떤 변수에 어떤 데이터타입을 넣을 건지 조심해야 함..!

# 기본문법

## 주석(Comments)
- 목적 :협업, 재사용

<작성하는 것은 주로> 
- 클래스, 함수의 기능
- 변수에 대한 명명규칙
- 소스코드 작성날짜 및 수정날짜


-- 공식적인 주석(외부제출용)인 경우, 구어체가 아닌 형태로 핵심적인 부분만 주석을 작성한다.

-- 내부공유용이거나 설명을 위한 소스코드인 경우, 재사용과 내용공유를 목적으로 하여 용어에 대한 풀이 및 이해 내용을 상세히 적는다.

In [2]:
# 멀티라인 주석 : 함수나 클래스에 대한 문서를 만들때 사용함. (함수에 대한 설명이 바로 나온다. )
"""
여러 줄을 주석으로 작성하고 싶을 때 사용
"""

# VS에서는 함수에 대한 설명이 함수 위로 나옴
# 만약 #으로 주석처리하면 설명이 안나옴.

'\n여러 줄을 주석으로 작성하고 싶을 때 사용\n'

In [ ]:
### 주석 케이스1. 원통의 표면 계산
surface_area = (2 * pi * radius) * (height + radius)

surface_area = (2 * pi * radius) * (height + radius) # 주석 케이스2. compute the surface area of a cylinder

In [ ]:
# 실제 예시(외부에서 사용된 소스코드)

import matplotlib.pyplot as plt # pyplot : interactive plots and simple cases

# Look at index 4 and 6, which demonstrate overlapping cases.
x1 = [1, 3, 4, 5, 6, 7, 9]
y1 = [4, 7, 2, 4, 7, 8, 3]

x2 = [2, 4, 6, 8, 10]
y2 = [5, 6, 2, 6, 2]

# Colors: https://matplotlib.org/api/colors_api.html, 외부 url 참조시

plt.bar(x1, y1, label="Blue Bar", color='b')
plt.bar(x2, y2, label="Green Bar", color='g')
plt.plot()  # 시각화 1단계

plt.xlabel("bar number")
plt.ylabel("bar height")
plt.title("Bar Chart Example")
plt.legend() # 시각화 2단계 - 범례 추가
plt.show()  # 시각화 3단계 - 그림형태로 표시

## 반복문(for, while)
- 실무 측면에서 while문은 조건을 많이 둘 수 없기 때문에 for문을 선호한다.

In [ ]:
### 입력변수

y = int(input())
for i in range(y,5):
    print(i)

In [ ]:
### set변수
y = {1,3,3,5,10}
for i in y: 
    print(i)

In [ ]:
### 리스트변수
y = [1,3,3,5,10]
for i in y: 
    print(i)

In [ ]:
### 튜플변수
y = (1,3,3,5,10)
for i in y: 
    print(i)

In [ ]:
# 반복문 :for move 돌릴 때 할수 있는 것? 

### 딕셔너리변수
y = {'a':1,'b':3,'c':3}
for i in y: 
    print(i)
    
# 키만 출력
# items() : 둘다 출력ㄱ가능.

In [ ]:
for i in y.items(): 
    print(i)

In [ ]:
for i, j in y.items(): 
    print('key: ',i)
    print('value: ', j)

In [ ]:
for i in y.keys(): 
    print(i)

In [ ]:
for i in y.values(): 
    print(i)

In [ ]:
# for 문 : 특정 범위가 주어지면 범위 끝날떄까지 반복
# while 문 : 특정 조건에 따라 종료되거나 실행됨. # 조건이 True면 실행이 되고, False면 실행이 안됨.

count = 0
while count < 5:
    print(count)
    count += 1

print('end file')

In [ ]:
count = 0
while True:     #--> 무한대로 실행.
    print(count)
    count += 1

print('end file')

In [ ]:
count = 0
while False:    # --> False 면 실행을 안함.
    print(count)
    count += 1

print('end file')

In [ ]:
# break의 기능
count = 0
while True:   
    print(count)
    count += 1

    if count > 8:
        break  # while move를 종료한다.  # 조건에 맞는 경우 break을 통해 조건문과 반복문에서 탈출.

print('end file')

In [ ]:
# 클래스, 함수 break test

class break_test:
    print('class')

    def break_def_test():
        print('func')

        while 1:
            print('while')
            break

# b = break_test
# print('-----')
# b.break_def_test()
# print('-----')
print("1")

In [ ]:
class break_test:
    print('class')

    def break_def_test():
        print('func')

        while 1:
            print('while')
            break

print('-----')
b = break_test
b.break_def_test()
print('-----')
print("1")

# class 란???

In [ ]:
# 함수 break test
def break_func_test():
    print("func")
    
    while 1:
      print('while')
      break

break_func_test()
print('1')

In [ ]:
# continue 기능

for x in range(8):
    # x를 2로 나눴을 때 나머지가 0이면(조건문 == 참), x값은 그대로 (+)하면서 반복문부터 재시작.
    if x % 2 == 0:
        continue
    print(x)

In [ ]:
# Boolean Expressions(부울식)
print(2 == 2) #

print(4 == 8) #

print(type(True)) #

print(type(False)) #

In [ ]:
# Logical Operators(논리 연산자)
print(True and True)  # True

print(True and False) # False

print(False and False) # False

print(True or False) # True

print(True or True) # True

print(False or False) # False

print(not True) # False

print(not False) # True

In [ ]:
count = 0
while True:   
    print(count)
    count += 1
    # count = 12 --> 12>8 => 참. Ture. => 이런 값들을 Truthy 라고 한다. : [0], 1, True ... 
    if count > 8:  # 이게 동작하는 이유는 count가 8보다 크기때문.
        break  

print('end file')

In [ ]:
if True:
    print('if condition is truthy')

print('end file')

In [ ]:
if False:  # -->Falsy값들은 실행안됨. 0, '', False, [], {}
    print('if condition is truthy')  #동작하지 않는다. 

print('end file')

In [ ]:
if 1:  #1을 넣으면 --> 실행됨.
    print('if condition is truthy')  #동작하지 않는다. 

print('end file')

In [ ]:
if 'A':  # 문자열 넣어도, 실행됨.
    print('if condition is truthy')  #동작하지 않는다. 

print('end file')

In [ ]:
if 0 :   #0을 넣으면 실행안됨.
    print('if condition is truthy')  #동작하지 않는다. 

print('end file')

In [ ]:
if not True:  # Truthy는 Falsy로, Falsy는 Truthy로 돌아간다. 
    print('if condition is truthy') 

print('end file')

In [ ]:
if 'string':  
    print('if condition is truthy') 

print('end file')

In [ ]:
if not 'string':  # Truthy는 Falsy로, Falsy는 Truthy로 돌아간다. 
    print('if condition is truthy') 

print('end file')

In [ ]:
x = -4

if x < 0:
    print('x is negative') #

In [ ]:
# Chained Conditionals(다중 조건문)
# 조건을 여러개 구분짓는 경우 : if, elif, else
# Nested Conditionals(중첩조건)
# 하나의 조건 안에 또 다른 조건을 거는 경우(조건 안에 조건) : 쓰는이유 http://ivis.kr/images/d/df/2017_CP_6%EC%9E%A5.pdf


x, y = 3, 5

if x == y:
    print('x and y are equal')
else:
    if x < y:
        print('x is less than y')
    else: 
        print('x is greater than y')

# 파이썬 기본 자료구조
- 기본자료형 : 숫자, 문자열
- 컬렉션 자료형 : 리스트, 튜플, 셋, 딕셔너리. 여러개의 데이터타입을 저장 가능.

## 리스트
- 컬렉션 자료형에서 가장 많이 쓰이는 자료형이다.
- 파이썬 리스트는 배열과 같이 배열의 특징인 핵심 연산(생성, 인덱스를 통한 접근, 인덱스를 통한 할당, 반복)을 지원하기 때문.

 - 인덱스와 메소드를 활용하기때문에 동적으로 값의 수정 및 정렬이 쉽다.
- 기본적으로 리스트 만드는 법은 대괄호를 활용하는 것이다. ex) [ and ]

- 리스트는 동적이다.

 - 동적이라 함은 메소드를 사용해 값을 추가하거나 제거가능

  - 리스트를 활용하는 경우를 예를 들면, 비행기게임을 만드는데 리스트에 비행기를 저장하고, 적군에게 맞으면 리스트에서 비행기를 삭제하는 방법을 사용할 수 있다.
- 튜플과의 차이점 : 리스트는 메소드를 활용하여 값 수정가능.

- 딕셔너리와 차이점 : 인덱스를 기반으로 값을 저장하고 수정할 수 있다.

- 파이썬 리스트는 탐색, 삽입, 삭제와 같은 연산에 대한 메소드를 갖고 있으므로 단순 자료형이 아닌 자료구조의 형태를 취한다.

- 리스트는 프로그래밍에서 기본적으로 사용되는 값을 여러개 저장할 수 있는 기능인 배열의 기능 또한 갖고 있다.

- 하나의 리스트에 문자열, 숫자 타입 모두 넣을 수 있다.
``` 
[2, 'four', 6.0, '8', [5, 5]]
```
- 리스트안에 리스트를 넣을 수 있다.(다차원 리스트)
 - 다차원 리스트는 게임개발, 대규모 머신러닝 알고리즘에서 사용된다.

In [ ]:
cheeses = ['Cheddar', 'Edam', 'Gouda']
numbers = [123, 456]

empty = []
print(cheeses, numbers, empty)
print('numbers[1] :',numbers[1])
print('numbers[0] :',numbers[0])
print('numbers :',numbers)

### 리스트, 정규표현식, 리스트를 문자열로.

In [13]:
import math

center = 10
height = 20

value = []

# 문자열 값을 입력받음.
items = [string for string in input().split(',')]

## element = 1부터 시작한다.

for element in items : 
    value.append(str(int(round(math.sqrt(2*center*float(element) / height)))))   # round, ceill, floor : https://webcooker.tistory.com/50  # 문자열로 받아서 float로 바꿔서 다시 int로 바꿨구나.

print('------------')
print('입력받은 문자열 값: ', items, ', for문의 마지막 element: ', element)
print('------------')
print(','.join(value))
print(value)

# join()함수 : https://blockdmask.tistory.com/468
# '구분자'.join(리스트) : join 함수는 매개변수로 들어온 리스트에 있는 요소 하나하나를 합쳐서 하나의 문자열로 바꾸어 반환하는 함수입니다. 
# 매개변수로 들어온 ['a', 'b', 'c'] 이런 식의 리스트를 'abc'의 문자열로 합쳐서 반환

10,20,30
------------
입력받은 문자열 값:  ['10', '20', '30'] , for문의 마지막 element:  30
------------
3,4,5
['3', '4', '5']

In [27]:
# append와 정규표현식 활용한 비밀번호 구성하기.

# 정규표현식 : module :re

import re  # Support for regular expressions (RE).

value = []
items = [index for index in input().split(',')]  # 비번이니까 예를들어 1234568,  jkjleijif03이런식이 되겠지. 

# 비밀번호 구성로직

for pw in items:
    if len(pw) < 6 or len(pw) >12:    # 패스워드길이가 12개보다 크거나 6보다 작을 경우
        continue   # 다시 루프돌기
    else:     # 그렇지 않을경우에는 
        pass     # 실행할 코드 없고 다음구문으로 넘어간다.)  continue, pass 차이 :  https://wlstnans.tistory.com/101

    if not re.search("[a-z]", pw) :   # re.match, re.search는 정규식과 매치될 때는 match 객체를 돌려주고, 매치되지 않을 때는 None을 돌려준다. 
        continue               # pw에 a-z의 소문자가 없으면 다시 루프로.
    elif not re.search("[0-9]", pw) :
        continue
    elif not re.search("[A-Z]", pw) :
        continue
    elif not re.search("[$#@]",pw):   # [$#@] 이 특수문자 없을땐  루프 
        continue
    elif re.search("\s",pw):  #공백포함시 루프
        continue
    else:
        pass
    
    value.append(pw)

print(",".join(value)) # 리스트를 문자열로 반환.

jdfJKL08$, djkl dkjl, sjkl08@K, fjkJJ#0
jdfJKL08$

In [26]:
# re 정규표현식은 아주 복잡하다 ; https://python.bakyeono.net/chapter-11-2.html
# 파이썬 정규표현식 사용법 : https://greeksharifa.github.io/%EC%A0%95%EA%B7%9C%ED%91%9C%ED%98%84%EC%8B%9D(re)/2018/07/21/regex-usage-02-basic/
# https://blog.naver.com/PostView.nhn?blogId=realuv&logNo=220699272999
# https://highcode.tistory.com/6


import re                             # 정규식 모듈 임포트
pattern_string = r'파이썬'            # '파이썬' 패턴 문자열
pattern = re.compile(pattern_string)  # 패턴 문자열을 패턴 객체로 컴파일

print(re.search(pattern, '파이썬'))         # 매치한다: Match 객체 반환
# <_sre.SRE_Match object; span=(0, 3), match='파이썬'>

print(re.search(pattern, '즐거운 파이썬'))  # 일부 텍스트와 매치한다
# <_sre.SRE_Match object; span=(4, 7), match='파이썬'>

print(re.search(pattern, '파이프'))         # 매치하지 않는다: None 반환

match = re.search('[$#@]', 'ddㅇ 프로그래밍')
if match:
    print('문자열에 패턴과 매치하는 텍스트가 존재함')
else:
    print('문자열에 패턴과 매치하는 텍스트가 존재하지 않음')

<re.Match object; span=(0, 3), match='파이썬'>
<re.Match object; span=(4, 7), match='파이썬'>
None
문자열에 패턴과 매치하는 텍스트가 존재하지 않음

In [28]:
for string in input().split(','):
    print(string)
    print(list(string))

8902,아놔, 너랑, 같이
8902
['8', '9', '0', '2']
아놔
['아', '놔']
 너랑
[' ', '너', '랑']
 같이
[' ', '같', '이']

### # insert()

In [29]:
# insert() : 리스트 중간에 인덱스와 값을 지정하여 값 추가삽입

arr_in = ['math', 'biology', 1989, 2019]
arr_in.insert(1,2021)
arr_in

['math', 2021, 'biology', 1989, 2019]

### # del[], remove()

In [30]:
# del : 제거할 항목의 인덱스에 따라 삭제한다. 삭제 시 확인불가.
# 활용 : 웹사이트에서 특정 사용자가 탈퇴하는 경우, 인덱스를 활용하여 삭제

arr_del = [1,2,3,4,5]
del arr_del[0]
arr_del

[2, 3, 4, 5]

In [31]:
# remove() : 제거할 항목의 '값'에 따라 삭제한다. 삭제할 항목의 인덱스가 아닌 '값'!!!
# 중복될 경우 앞 순서에 있는 값만 삭제한다.  

arr = [1,2,3,4,5]
arr.remove(2)
print(arr)

arr_1 = [1,2,3,4,5,1,1,1]
arr_1.remove(1)
print(arr_1)

[1, 3, 4, 5]
[2, 3, 4, 5, 1, 1, 1]

### # pop()

In [41]:
# pop() : 리스트에서 특정 위치의 값을 뺴낸다. 
# 활용 ) 웹에서 로그아웃한 특정 사용자를 빼놨다가, 재접속 및 로그인을 위해 사용자 목록에 다시 넣을 수 있다.

arr_pop = [1,2,3,4,5,6,7,8,9,10]
p_1 = arr_pop.pop()  # 아무것도 적지않으면 제일 마지막 요소를 뺸다.

print(arr_pop)
print(p_1)

p_2 = arr_pop.pop(3)   #3번 인덱스를 빼낸다. 
print(p_2)

arr_pop.insert(3,p_2)  # 다시 넣는다.
arr_pop

[1, 2, 3, 4, 5, 6, 7, 8, 9]
10
4

[1, 2, 3, 4, 5, 6, 7, 8, 9]

### # extend()

In [42]:
# extend() : 리스트끼리 이어붙이기

arr_one = [1,2,3,4,5]
arr_two = [1,2,3]
arr_one.extend(arr_two)
arr_one

[1, 2, 3, 4, 5, 1, 2, 3]

### sum(), count(), len()


* 헷갈리는 size와 len

1. size
   : 전체 원소의 갯수!
   : 2x3 배열의 경우, 원소 갯수인 6을 반환!
2. len
   : 첫 번째 차원의 원소(행) 수!
   : 2x3 배열의 경우, 첫 번째 차원의 행수인 2를 반환!
   : [1, 2, 3] 같은 1차원 배열의 경우, shape가 (3, )이므로 첫 번째 차원의 행수인 3을 반환한다고 봐도 될듯.

출처: https://curryyou.tistory.com/128 [카레유]

In [45]:
arr = [1,1,2,2,2,2,3,4,5]
print(sum(arr))
print(arr.count(2))  # 숫자 2의 갯수 구하기. 
print(len(arr))

22
4
9

### index() : 

https://ooyoung.tistory.com/78

2-1) find( )

찾는 문자가 없는 경우에 -1을 출력한다.

문자열을 찾을 수 있는 변수는 문자열만 사용이 가능하다.  리스트, 튜플, 딕셔너리 자료형에서는 find 함수를 사용할 수 없다. 만일 사용하게 되면 AttributeError 에러가 발생한다.

 

2-2) index( )

찾는 문자가 없는 경우에 ValueError 에러가 발생한다.

문자열, 리스트, 튜플 자료형에서 사용 가능하고 딕셔너리 자료형에는 사용할 수 없어 AttributeError 에러가 발생한다.



3) 중복되는 원소들의 인덱스 모두 찾기 (numpy.where)
https://m.blog.naver.com/sw4r/221976911807
```
>>> import numpy
>>> b = numpy.array(b)
>>> numpy.where(b == 'hello')[0]
array([1, 3])
```

In [49]:
# index(sub [, start [, end]]) 

arr_two = ['a', 'b', 'c', 'd', 'e', 'a', 'b']
print(arr_two.index('a',1))
# print(arr_two.index('a', 1, 5))
print(arr_two.index('b', 1, 3))

5
1

### min(), sort(), sorted()

In [60]:
arr = [4, 3, 2.5, 7, 0.7, 9]

In [61]:
sorted(arr,reverse=True)   # 리스트 자체의 순서는 유지하고, 정렬된 순서로 출력만 함

[9, 7, 4, 3, 2.5, 0.7]

In [62]:
arr  # 주어진 arr은 그대로 유지되어 있음

[4, 3, 2.5, 7, 0.7, 9]

In [59]:
min(arr)
max(arr)
arr.sort()
arr.sort(reverse=True)   #리스트의 값 자체의 순서를 정렬
arr

[9, 7, 4, 3, 2.5, 0.7]

In [64]:
### sort, sorted 비교

items = [num for num in input().split(',')]
items.sort()
print(','.join(items))

10,30,22,55,1,0
0,1,10,22,30,55

In [67]:
string = input()
words = [word for word in string.split(" ")]
print(" ".join(sorted(words)))
print(" ".join(words))

2 0 2 9 12 02 78
0 02 12 2 2 78 9
2 0 2 9 12 02 78

## 튜플

- immutable : 변경 불가능
- 리스트와의 차이점 : 튜플은 특정 값과 인덱스에 대한 값 변경은 불가능하다.
- 리스트는 'a'에 대해서 append()와 같은 메소드를 통해 값변경 가능
- 튜플은 값변경 메소드 없으므로 불가능
- 메서드 : count(), index()

In [68]:
my_tuple = 'a', 'b', 'c', 'd', 'e'
my_tuple

('a', 'b', 'c', 'd', 'e')

In [69]:
my_other_tuple = ('f', 'g', 'h', 'i', 'j')
my_other_tuple

('f', 'g', 'h', 'i', 'j')

In [70]:
t = tuple('lambda')
t

('l', 'a', 'm', 'b', 'd', 'a')

In [71]:
t[0] = 'L' # tuple - immutable
print(t)

TypeError: ignored

## 딕셔너리
- 키를 기반으로 값을 저장
- 파이썬 3.6 이하에서는 입력 순서를 고려하지 않는다. ( OrderedDict라는 별도의 object를 제공)

- 데이터 순서를 동적으로 조절하려면, 리스트 사용을 권장.

- 키와 값에 따른 데이터를 효율적으로 보려면, 딕셔너리 사용을 권장.

In [73]:
import sys
print(sys.version)

3.7.12 (default, Sep 10 2021, 00:21:48)
[GCC 7.5.0]

In [74]:
# 다음과 같이 입력값을 부여할 경우, OrderedDict는 입력 그대로 순서가 유지됨
from collections import OrderedDict


# dict_test # OrderedDict 활용하지 않는 경우, 키를 기준으로 정렬됨
dict_test = {'test':1, 'test2':5, 'gui':4, 'black':2}
dict_test

{'black': 2, 'gui': 4, 'test': 1, 'test2': 5}

In [75]:
OrderedDict(dict_test)  # OrderedDict 활용하는 경우, 입력된 딕셔너리 키와 값 순서 그대로 유지됨

OrderedDict([('test', 1), ('test2', 5), ('gui', 4), ('black', 2)])

In [83]:
## 딕셔너리 선언

eng_sp = dict()
print(eng_sp)   #빈 딕셔너리

eng_sp['one'] = 'uno'
print(eng_sp)

eng_sp = {'two':'dos','three':'trees'}
print(eng_sp)

{}
{'one': 'uno'}
{'two': 'dos', 'three': 'trees'}

### clear(), update()

In [84]:
car = {
    "brand": "Honda",
    "model": "CR-V",
    "year": 2002
}
print(car)

car.clear()
print(car)

{'brand': 'Honda', 'model': 'CR-V', 'year': 2002}
{}

In [88]:
car = {
    "brand": "Honda",
    "model": "CR-V",
    "year": 2002
}

print(car)

carbon_copy = car.copy()
print(carbon_copy)
print(car)

car.update({"color":"black"})
print(car)
print(carbon_copy)

{'brand': 'Honda', 'model': 'CR-V', 'year': 2002}
{'brand': 'Honda', 'model': 'CR-V', 'year': 2002}
{'brand': 'Honda', 'model': 'CR-V', 'year': 2002}
{'brand': 'Honda', 'model': 'CR-V', 'year': 2002, 'color': 'black'}
{'brand': 'Honda', 'model': 'CR-V', 'year': 2002}

## fromkeys()

dict.fromkeys(seq, value)

딕셔너리를 생성할 때 편리하게 사용할 수 있는 메서드. 

seq 옵션 값에 문자열을 입력할 수도 있다.

seq: 생성하려는 dictionary의 키(key)의 목록

value: 생성하려는 dictionary의 값(value) 


```
seq = ('name', 'age', 'sex')

dict_1 = dict.fromkeys(seq)
print(dict_1)

dict_2 = dict.fromkeys(seq, 10)
print(dict_2)

## result ##
{'age':None, 'name':None, 'sex':None}
{'age':10, 'name':10, 'sex':10}
```

In [93]:
x = ('key1', 'key2', 'key3')
y = 1,2
new_dict = dict.fromkeys(x, y)
print(new_dict)

{'key1': (1, 2), 'key2': (1, 2), 'key3': (1, 2)}

## get(), keys(), values(), items()

In [99]:
car = {
     "brand": "Honda",
     "model": "CR-V",
     "year": 2002
 }


# 특정 key의 value값을 알기.
car.get("model")

'CR-V'

In [97]:
# 키
car.keys()

dict_keys(['brand', 'model', 'year'])

In [101]:
# 값
car.values()

dict_values(['Honda', 'CR-V', 2002])

In [98]:
# 쌍
car.items()

dict_items([('brand', 'Honda'), ('model', 'CR-V'), ('year', 2002)])

## pop(), popitem()
- pop()  : key로 value를 뺴냄.
- popitem() : 키-값 쌍으로 빼냄.

In [106]:
car = {
     "brand": "Honda",
     "model": "CR-V",
     "year": 2002
 }
x = car.pop("model")  #키값으로 빼내기
print(x)
print(car)

CR-V
{'brand': 'Honda', 'year': 2002}

In [109]:
car = {
     "brand": "Honda",
     "model": "CR-V",
     "year": 2002
 }

print(car.popitem())  # 튜플로 반환.
print(car)

car["price"] = 4000  #update()와 똑같지 않나?
print(car)

print(car.popitem())  # 튜플로 반환.
print(car)

('year', 2002)
{'brand': 'Honda', 'model': 'CR-V'}
{'brand': 'Honda', 'model': 'CR-V', 'price': 4000}
('price', 4000)
{'brand': 'Honda', 'model': 'CR-V'}

## setdefault(), update()

In [112]:
car = {
     "brand": "Honda",
     "model": "CR-V",
     "year": 2002
 }

x=car.setdefault("model", "Odyssey")  # 만약 model 키가 있다면 디폴트값을 반환한다.
print(x)

y = car.setdefault("color", "black")  # color키가 없기 때문에 color:black 을 저장하고 black을 반환한다. 
print(y)

print(car)

# 딕셔너리 메서드: https://sangwoo0727.github.io/python/Python-10_dictionary/

CR-V
black
{'brand': 'Honda', 'model': 'CR-V', 'year': 2002, 'color': 'black'}

In [113]:
car = {
     "brand": "Honda",
     "model": "CR-V",
     "year": 2002
 }
car.update({"color": "black"})
print(car)

{'brand': 'Honda', 'model': 'CR-V', 'year': 2002, 'color': 'black'}

In [114]:
# 다른 경우를 보자.
d = {'james':11, 'stef': 21, 'eden': 20}

d['james'] = 12

print(d)  # {'james': 12, 'stef': 21, 'eden': 20}

{'james': 12, 'stef': 21, 'eden': 20}

In [117]:
# 알파벳이 몇번 나왔을까??
s = 'Hello my name is james'
d = {}

for k in s:
    if k in d:  # d안에 k가 존재하면
        d[k]+=1
    else:
        d[k]=1

print(d)

{'H': 1, 'e': 3, 'l': 2, 'o': 1, ' ': 4, 'm': 3, 'y': 1, 'n': 1, 'a': 2, 'i': 1, 's': 2, 'j': 1}

In [119]:
# 위의 구문은 아래와 같이 쓸 수 있다. 
s = 'Hello my name is james'
d = {}

for k in s:
    d[k] = d.setdefault(k, 0) +1

print(d)

{'H': 1, 'e': 3, 'l': 2, 'o': 1, ' ': 4, 'm': 3, 'y': 1, 'n': 1, 'a': 2, 'i': 1, 's': 2, 'j': 1}

In [ ]:
# 중첩 리스트(2차원 리스트), 3차원 리스트,,, 

# 리스트는 순서를 매긴다. 순서 = '인덱스'라고 함. 바뀌는 값을 저장.

# 튜플 : 리스트와 같지만 한번 정하면 바꿀 수 없다. 바뀌지 않는 값을 저장

In [ ]:
l1 = ['hello', 'world', 2]

print(l1[0])
print(l1[1])
print(l1[2])

In [ ]:
l1 = ['hello', 'world', 2]
l1[2] =4

print(l1[0])
print(l1[1])
print(l1[2])
# 리스트는 바꾸기 가능

In [ ]:
t1 = ('hello', 'world', 2)
# t1[2] =4

print(t1[0])
print(t1[1])
print(t1[2])

In [ ]:
t1 = ('hello', 'world', 2)
t1[2] =4

print(t1[0])
print(t1[1])
print(t1[2])

# 에러. 튜플은 바꿀 수 없다. 
# 따라서 튜플이 좀 더 가볍다.
# 리스트는 많은 메서드가 동반된다.

In [ ]:
# 키:값 형태로 저장되는 딕셔너리. 
# 특정 키를 기준으로 찾을 떄 편하다
# 리스트 :순서적인 것들이 있을 때 저장하기 편함. 키로 찾을 수는 없기때문에, 아무 자료나 막 넣을 때 편함. 여러개의 객체를 저장할 때.
# 딕셔너리는 키로 구별을 해야할 떄 많이 쓴다.

# 디버깅

ㅇㅏ ,, 양이 많..다 ..

In [ ]:
## 파이썬 디버깅.

# 코드의 문제가 생긴다..? 어디에서 문제가 발생하는지 알 수 있어야 함. (Pdb) 가 나오면서 프로그램이 멈춘다. :but,#실질적으로 코드를 작성하진 못한다. 
# 실제로 코드가 제대로 동작하는지. 오류를 해결하기 위해, 특정 상황을 예방하기 위해 여러가지 상황을 시도하기 위해 사용.
# exit로 나갈 수 있다.


import pdb
pdb.set_trace()

= breakpoint() # --> pdb.set_trace()  명령어를 호출하는 것.

step : 함수가 호출되거나 함수 다음중에서 멈추게 된다.
nest :현재 함수 실행도중 리턴문구에 도달함.

In [ ]:
from unittest import TestCase

class PythonBooleans(TestCase):
    def truth_function(self, condition):
        if condition:
            return True
        else:
            return False

class PythonBooleans():
    def truth_function(self, condition):
        if condition:
            return True
        else:
            return False

In [ ]:
pb_ins = PythonBooleans()

pb_ins.truth_function(True)