<a href="https://colab.research.google.com/github/dagyeom23658/Python_Practice/blob/main/%ED%94%84%EB%A1%9C%EA%B7%B8%EB%9E%98%EB%B0%8D_%EC%82%AC%EC%A0%84.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

컴퓨팅 환경이라든지 제한된 상황에서, 써야할 순간이 온다.

수학보다 직접적인 ... 

데이터 엔지니어, 개발자와 커뮤니케이션 할떄 도움이 된다!!

코테는 최소한의 지식이나, 코딩실력을 갖췄는지 보는 시험. 업무에 100% 연관된다곤 못하지만, 문제를 풀어가는 과정이나 논리구조를 보고 가산점을 주기도한다. 주석을 잘 다는 연습하기. 수학적 사고력, 논리력!을 충분한 사람이면 기술적 부분이 부족해도 충분히 보충 가능하다고,, 특히 대기업에서 그렇게 생각을 많이 한다. 

코딩테스트를 위한 암기도 필요하지만, 문제해결력과 논리적 사고력을 기르기.
내장메서드.. 내부적으로 어떻게 돌아가는지 이해하면서 공부

개념이 모호할때가 많고... 자신만의 언어로 작성해서 저장해두기...!!!

정규표현식은 불용어때 사용 많이 하고,, 웹크롤링 데이터 가져올 때 쓰기도 하고..ㅡ
각 메서드들이 어떠한 차이가 있는지 알아보기!!

한줄 한줄 분석하면서 하는 연습!! 컴퓨팅 사고에 도움이 된다.

프로그래머스 레벨3 통과하면 웬만한 기업 테스트는 다 통과할 수 있다. 백준도 있음.

In [ ]:
## 더 알아보기
# iterator , iterable 의 차이는??
# reduce

# 정규표현식
- 특정한 규칙을 가진 문자열의 집합을 표현하는 사용하는 형식
- 복잡한 문자열을 처리할 때 사용한다. 
- 파이썬 이외에도 모든 프로그래밍 언어에 공통적으로 사용이 된다.

# 정규식 기호 = 메타 문자
- 원래 그 문자가 가진 뜻이 아닌 특별한 용도로 사용하는 문자.

.  => \n을 제외한 모든 문자

[ ] => [a-z] => 알파벳 소문자를 [1-9] => 1부터 9 중 가져온

^  => 부정, 문자 클래스 안에 문자를 제외한 나머지 애들을 하는거.

$ => 끝을 나타내는 메타 문제 => 문자열의 행이나 끝을 의미한다. 

* + => 둘의 차이는?  *는 0부터 반복, +는 최소 1번 이상 반복

? => on/off => 있어도 되고, 없어도 된다. => ab? => a, ab

{m,n} => m번 이상, n번 이하 => a{1,2} => a,aa

m번 이상 => {m,}

n번 이하 => {,n}

m번 => {m}

\ : 용도>  => 메타문자/특수 기호를 문자로서 표현하고 싶을 떄  => .com => \\.com

# 정규표현식 regular expression

https://wikidocs.net/4308#_3

현업에서도 많이 쓰이는 정규표현식. 

정규식 기호(메타문자)를 이용해서 ...

어떤 상황에 어떤 메서드를 쓰는게 좋을지 생각해보기.

## re.search, re.match
- re.search : 문자열 전체를 검색하여 정규식과 매치되는지 조사한다.
- re.match : 	문자열의 처음부터 정규식과 매치되는지 조사한다.

In [ ]:
# re.search
import re

wordlist = ["acolor","color", "colour", "work", "working",
            "fox", "worker", "working","acolor is not colir"]

# wordlist = "color, is, not, colir"
for word in wordlist :
    if re.search('col.r', word):  #정규 표현식의 Dot(.) 메타 문자는 줄바꿈 문자인 \n을 제외한 모든 문자와 매치됨을 의미한다.
        print('search:',word)
    if re.match('col.r', word): 
        print('match:', word)
    print('***')

search: acolor
***
search: color
match: color
***
***
***
***
***
***
***
search: acolor is not colir
***

In [ ]:
# re.match
regular_expressions = '<html><head><title>Title</title'
print(len(regular_expressions))
print(re.match('<.*>', regular_expressions).span())  # span(): 매치된 문자열의 (시작, 끝)에 해당하는 튜플을 돌려준다.
print(re.match('<.*>', regular_expressions).group())  # group(): 매치된 문자열을 돌려준다.
# 개행문자를 제외한 어떤 문자든지 가능(.), 바로 앞의 문자를 0번부터 반복가능(*)
# re.match --> '<'과 문자열이 일치해야 함.

31
(0, 19)
<html><head><title>

## re.compile('패턴') => 패턴만들기.

In [ ]:
# case 1_1
phone = re.compile(r"""
010-    # 핸드폰 앞자리 
\d{4}-  # 중간자리
\d{4}  # 뒷자리
""", re.VERBOSE)  

# 컴파일된 패턴 객체인 phone는 모두 동일한 역할을 한다. 하지만 정규식이 복잡할 경우 case 1_2보다 case 1_1처럼 주석을 적고 여러 줄로 표현하는 것이 훨씬 가독성이 좋다.
# re.VERBOSE 옵션을 사용하면 문자열에 사용된 whitespace는 컴파일할 때 제거된다(단 [ ] 안에 사용한 whitespace는 제외). 그리고 줄 단위로 '#'기호를 사용하여 주석문을 작성할 수 있다.

{ } 메타 문자를 사용하면 반복 횟수를 고정할 수 있다. {m, n} 정규식을 사용하면 반복 횟수가 m부터 n까지 매치할 수 있다. 또한 m 또는 n을 생략할 수도 있다. 만약 {3,}처럼 사용하면 반복 횟수가 3 이상인 경우이고 {,3}처럼 사용하면 반복 횟수가 3 이하를 의미한다. 생략된 m은 0과 동일하며, 생략된 n은 무한대(2억 개 미만)의 의미를 갖는다.


\d - 숫자와 매치, [0-9]와 동일한 표현식이다.

In [ ]:
# case 1_2
phone = re.compile(r"010-\d{4}-\d{4}")  # \d - 숫자와 매치, [0-9]와 동일한 표현식이다.--> 반드시 4번 반복되어야 한다.

In [ ]:
# case 1_3
info = ['홍길동 010-1234-1234', '고길동 010-5678-5679']

for text in info:
    match_object = phone.search(text)  # 문자열 전체를 검사해서 정규식과 일치되는지 조사
    print(match_object.group()) #매치된 문자열을 돌려줌

010-1234-1234
010-5678-5679

# rjust(width, [fillchar]), zfill(width)
원하는 문자를 따로 지정하고, 다른 문자열로 앞 부분을 채워줄 수 있다.

0으로 앞부분 채워주기

In [ ]:
#"002"
print("2".rjust(3,"0"))
 
#"50000"
print("50000".rjust(5,"0"))  # --> 채워줄 공간이 없으므로 그대로 출력
 
#"00123"
print("123".rjust(5,"0"))
 
#"aa123"
print("123".rjust(5,"a"))

002
50000
00123
aa123

In [1]:
#"002"
print("2".zfill(3))
 
#"50000"
print("50000".zfill(5))
 
#"00123"
print("123".zfill(5))

# zfill 메소드
# 이 메소드는 문자열을 최소 몇 자리 이상을 가진 문자열로 변환시켜줍니다. 이때 만약 모자란 부분은 왼쪽에 “0”을 채워주는데요. 예를 들어 만약 "1".zfill(2)을 하면 "01"을 리턴합니다. 그리고 설정된 자릿수보다 이미 더 긴 문자열이라면 그 문자열을 그대로 출력합니다.
#  그러니까 "333".zfill(2) 와 같이 하면 문자열 그대로 “333”을 리턴합니다.

002
50000
00123

# split(), startswith(), endswith(), replace()

In [ ]:
string_ = "Hello, I am Jack and I am a data scientist"
print(string_)
print(string_[1])

Hello, I am Jack and I am a data scientist
e

In [ ]:
string_list = string_.split(" ")  # 공백을 기준으로 나누다.
string_list

['Hello,', 'I', 'am', 'Jack', 'and', 'I', 'am', 'a', 'data', 'scientist']

In [ ]:
string_.startswith('hello')  # 불값으로 반환. 첫시작이 일치하는지 여부

False

In [ ]:
string_.endswith('scientist')  # 불값으로 반환. 끝부분이 일치하는지 여부

True

In [ ]:
string_.endswith('tist')   #완전한 단어가 아니어도 됨. 끝이 t 이기만 하면 모두 true

True

In [ ]:
print(string_.replace("Jack", "John"))
print(string_)

Hello, I am John and I am a data scientist
Hello, I am Jack and I am a data scientist

# 얕은복사, 깊은복사.

https://wikidocs.net/16038

https://dojang.io/mod/page/view.php?id=2477

In [ ]:
fruits = {"apple", "banana", "cherry"}  #set --> 순서가 없음   https://wikidocs.net/1015
fruits_copy = fruits.copy()
print(fruits_copy)
print(id(fruits))
print(id(fruits_copy))

{'apple', 'banana', 'cherry'}
140392727653504
140392586235488

In [ ]:
a = {'a': 5, 'b': 4, 'c':  {'python': '2.7'}}
b = a
del b['a']
b['c']['python'] = '2.7.15'
print(b)
print(a)
print(id(b))
print(id(a))

{'b': 4, 'c': {'python': '2.7.15'}}
{'b': 4, 'c': {'python': '2.7.15'}}
140392585444320
140392585444320

In [ ]:
import copy
a = {'a': 5, 'b': 4, 'c':  {'python': '2.7'}}
b = copy.copy(a)
del b['a']
b['c']['python'] = '2.7.15'
print(b)
print(a)

print(id(b))
print(id(a))

# 중첩딕셔너리를 다른 객체로 만드려면 deepcopy() 메서드를 써야한다.

{'b': 4, 'c': {'python': '2.7.15'}}
{'a': 5, 'b': 4, 'c': {'python': '2.7.15'}}
140392585828864
140392585829184

In [ ]:
import copy
list_var = [[1,2],[3,4]]
list_var_deepcopy = copy.deepcopy(list_var)
list_var_copy = list_var.copy()

list_var[1].append(5)

print(list_var)  # 원래 변수

print(list_var_deepcopy)  # deepcopy : append와 같은 메소드를 써도 값이 변경되지 않음

print(list_var_copy)  # copy : 원본이 변경되었으므로 함께 변경됨

[[1, 2], [3, 4, 5]]
[[1, 2], [3, 4]]
[[1, 2], [3, 4, 5]]

# 반복문, 조건문

## for문

In [ ]:
# case 1
data = [90, 45, 32, 44]
for i in range(data):
   print(data[i]) # 90, 45, 32, 44

TypeError: ignored

In [ ]:
# case 1
data = [90, 45, 32, 44]
for i in range(len(data)):
   print(data[i]) # 90, 45, 32, 44

90
45
32
44

## 딕셔너리 for문

In [ ]:
# case 2
mock_data = {
  "id": 1,
  "first_name": "states",
  "last_name": "code",
  "email": "code@states.com",
  "gender": "Female",
  "ip_address": "123.123.123.23"
}

In [ ]:
# 키만 나오는군
for x in mock_data:
    print(x)

id
first_name
last_name
email
gender
ip_address

In [ ]:
for x in mock_data.keys():
    print(x)

id
first_name
last_name
email
gender
ip_address

In [ ]:
for x in mock_data.values():
    print(x)

1
states
code
code@states.com
Female
123.123.123.23

In [ ]:
for x in mock_data.items():
    print(x)
print(type(x))

for k,v in mock_data.items():
    print(k,v)
print(type(k))

('id', 1)
('first_name', 'states')
('last_name', 'code')
('email', 'code@states.com')
('gender', 'Female')
('ip_address', '123.123.123.23')
<class 'tuple'>
id 1
first_name states
last_name code
email code@states.com
gender Female
ip_address 123.123.123.23
<class 'str'>

## zip() for문

In [ ]:
# 일반적인 반복문 활용
a = [1,2,3,4,5]
b = [10,20,30,40,50]
for i in range(len(a)):
   print(a[i],b[i])

1 10
2 20
3 30
4 40
5 50

In [ ]:
# zip 함수 활용
a = [1,2,3,4,5]
b = [10,20,30,40,50]
c = zip(a,b)
d = list(c)

print(c)
print(list(c))  # ★
print(d)
print(type(c))
print(type(d))


# 이거는 또 뭥... 한번 들어가버리면 활용이 안되는것?
 # iterator , iterable: https://locallab-seoul.tistory.com/8 , https://itholic.github.io/python-iterable-iterator/ , https://codechacha.com/ko/python-difference-between-iterator-and-iterable/

# iterator, iterable 객체의 차이.
# zip object
# map 도 iterator의 하나이다. 
# generator

<zip object at 0x7fafb654ddc0>
[]
[(1, 10), (2, 20), (3, 30), (4, 40), (5, 50)]
<class 'zip'>
<class 'list'>

In [ ]:
li = [1, 2, 3, 4, 5]

li_iter = iter(li)

next(li_iter)  # 1
next(li_iter)  # 2
next(li_iter)  # 3
next(li_iter)  # 4
next(li_iter)  # 5
# next(li_iter)  # StopIteration
print(li)
print(li_iter)

# iterator 객체는 안에있는 반복가능한 개체가 쏙 빠져나온다.

[1, 2, 3, 4, 5]
<list_iterator object at 0x7f11652aca90>

In [ ]:
print(list(li_iter))

[]

In [ ]:
help(zip)  # 소스코드가 나온다.

Help on class zip in module builtins:

class zip(object)
 |  zip(*iterables) --> zip object
 |
 |  Return a zip object whose .__next__() method returns a tuple where
 |  the i-th element comes from the i-th iterable argument.  The .__next__()
 |  method continues until the shortest iterable in the argument sequence
 |  is exhausted and then it raises StopIteration.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [ ]:
# 반복문과 zip 활용
a = [1,2,3,4,5]
b = [10,20,30,40,50]
c = [100,200,300,400,500]
print(zip(a,b,c))
for x,y,z in zip(a,b,c) :
    print(x,y,z)


for x in zip(a,b,c) :
    print(x)

<zip object at 0x7fafb24268c0>
1 10 100
2 20 200
3 30 300
4 40 400
5 50 500
(1, 10, 100)
(2, 20, 200)
(3, 30, 300)
(4, 40, 400)
(5, 50, 500)

In [ ]:
# break
IntCollection=[0,1,2,3,4,5,6,7]
for x in IntCollection:
    if(x==3):
        break
    else:
        print(x)

0
1
2

In [ ]:
# continue
IntCollection=[0,1,2,3,4,5,6,7]
for x in IntCollection:
    if(x==3):
        continue
    else:
        print(x)

0
1
2
4
5
6
7

In [ ]:
# 반복문의 다양한 활용
list_ = [1,2,3,4,5]

def foo(list_):
  print(list_)

print('foo(list_[i])')
for i in range(len(list_)):
    foo(list_[i])

print('foo(element)')
for element in list_:
    foo(element)

foo(list_[i])
1
2
3
4
5
foo(element)
1
2
3
4
5

## 에러

- 띄어쓰기 에러
- sintax 잘못된 문법 에러
- while문에서 컨트롤씨 누르면 인터럽트 에러

In [ ]:
# 케이스 1 - IndentationError

def print_list(list):
for item in list: # 에러 확인 및 해결필요
print(item)

IndentationError: ignored

In [ ]:
# 케이스 2 - SyntaxError

123ddf

SyntaxError: ignored

In [ ]:
# 케이스 3 - KeyboardInterrupt

while True:
  pass

KeyboardInterrupt: ignored

In [ ]:
# 케이스 4 - TypeError

# print(1) / 232

a,b = 0
print(a,b)

TypeError: ignored

In [ ]:
# 케이스 5 - ZeroDivisionError

value = 2/0

ZeroDivisionError: ignored

In [ ]:
# 특이 케이스 6 - 경고(warning) // ignore
def A():
  a = 0
  c =0
  print(a,c,) # 경고는 명시적으로 보이지 않지만, 메모리 비효율/휴먼 에러 등이 발생할 수 있다.

A()

0 0

# 컬렉션 자료형의 내장메소드

## append(), extend(), insert()

extend ==> 리스트를 이어서 추가해주는 것.(확장의 개념)

이외에는 삽입의 의미.

In [ ]:
list_1 = ['bread', 'meat']
list_2 = ['Lettuce',2 ,5]
list_1.extend(list_2)  # extend는 단일항목은 받지 않는다.
print('list1: {}, list2: {}'.format(list_1, list_2))

list1: ['bread', 'meat', 'Lettuce', 2, 5], list2: ['Lettuce', 2, 5]

In [5]:
list_1 = ['bread', 'meat']
list_2 = 2  # extend는 단일항목은 받지 않는다. 리스트의 형태여야 한다.
print('list1: {}, list2: {}'.format(list_1, list_2))
list_1.extend(list_2)

TypeError: ignored

In [6]:
list_1 = ['bread', 'meat']
list_2 = [2]
list_1.extend(list_2)  # extend는 단일항목은 받지 않는다. 리스트의 형태여야 한다.
print('list1: {}, list2: {}'.format(list_1, list_2))

list1: ['bread', 'meat', 2], list2: [2]

In [1]:
list_1 = ['bread', 'meat']
list_2 = ['Lettuce']
list_1.extend(list_2)  
print('list1: {}, list2: {}'.format(list_1, list_2))

list1: ['bread', 'meat', 'Lettuce'], list2: ['Lettuce']

In [2]:
list_1 = ['bread', 'meat']
list_2 = 'Lettuce'  #문자열은 괜찮다.
list_1.extend(list_2)  
print('list1: {}, list2: {}'.format(list_1, list_2))

list1: ['bread', 'meat', 'L', 'e', 't', 't', 'u', 'c', 'e'], list2: Lettuce

In [ ]:
my_list=[]
for i in range(1000, 2200):
    if (i%7==0) and (i%5!=0):
        my_list.append(str(i))

print(','.join(my_list))

In [ ]:
my_list=[]
for i in range(1000, 2200):
    if (i%7==0) and (i%5!=0):
        my_list.insert(len(my_list), str(i))

print(','.join(my_list))

1001,1008,1022,1029,1036,1043,1057,1064,1071,1078,1092,1099,1106,1113,1127,1134,1141,1148,1162,1169,1176,1183,1197,1204,1211,1218,1232,1239,1246,1253,1267,1274,1281,1288,1302,1309,1316,1323,1337,1344,1351,1358,1372,1379,1386,1393,1407,1414,1421,1428,1442,1449,1456,1463,1477,1484,1491,1498,1512,1519,1526,1533,1547,1554,1561,1568,1582,1589,1596,1603,1617,1624,1631,1638,1652,1659,1666,1673,1687,1694,1701,1708,1722,1729,1736,1743,1757,1764,1771,1778,1792,1799,1806,1813,1827,1834,1841,1848,1862,1869,1876,1883,1897,1904,1911,1918,1932,1939,1946,1953,1967,1974,1981,1988,2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198

In [ ]:
words = []
while True:
    char = input()
    if char:
        words.append(char.upper())
        # while 문을 통해 char = input() 의 입력을 계속해서 받으므로,
        # 입력할 데이터가 끝났으면 아무것도 입력하지 않고 엔터를 입력한다.
    else:
        break
print(words)
for word in words:
    print(word)

apple
banana
shit

['APPLE', 'BANANA', 'SHIT']
APPLE
BANANA
SHIT

In [ ]:
values = []
for i in range(100,300):
    char = str(i)

    if (int(char[0])%2==0) and (int(char[2])%2==0):
        values.append(char)
print(values)
print(",".join(values))

['200', '202', '204', '206', '208', '210', '212', '214', '216', '218', '220', '222', '224', '226', '228', '230', '232', '234', '236', '238', '240', '242', '244', '246', '248', '250', '252', '254', '256', '258', '260', '262', '264', '266', '268', '270', '272', '274', '276', '278', '280', '282', '284', '286', '288', '290', '292', '294', '296', '298']
200,202,204,206,208,210,212,214,216,218,220,222,224,226,228,230,232,234,236,238,240,242,244,246,248,250,252,254,256,258,260,262,264,266,268,270,272,274,276,278,280,282,284,286,288,290,292,294,296,298

## del, remove, pop
- remove()는 지우고자 하는 인덱스가 아닌, 값을 입력하는 방식
- pop()과 del은 지우고자 하는 리스트의 인덱스를 받아서 지우는 방식
- pop()은 지워진 인덱스의 값을 반환하지만 del은 반환하지 않습니다. 이 차이 때문에 미세하게 del이 pop()보다 수행속도가 더 빠릅니다. 또한 remove()와 동일하게 pop()과 del은 특정 인덱스를 삭제한 다음, 리스트를 재조정합니다. 

https://brownbears.tistory.com/452

In [ ]:
list1 = [11, 12, 43, 4, 6]
for i in list1.copy():
    if not i % 2 :
        list1.remove(i)
print(list1)

[11, 43]

In [ ]:
list2 = [11, 12, 43, 4, 6]
for i in list2:
    if not i % 2:
        list2.remove(i)
print(list2)

[11, 43, 6]

AI_05_정세연 — 오늘 오후 7:59
렉쳐노트 del,remove,pop부분말인데요,,
```
list1 = [11, 12, 43, 4, 6]
for i in list1.copy():
    if not i % 2 :
        list1.remove(i)
print(list1)
이거는 결과가 [11,43]이고
list2 = [11, 12, 43, 4, 6]
for i in list2:
    if not i % 2:
        list2.remove(i)
print(list2)
이렇게 하면 결과가 [11, 43, 6] 나오거든요..??
```
왜 이럴까요..? 6이 둘다 안나와야 맞을 것 같은데
copy를 안해준 부분에서는 그냥 6이 나오네요

AI_05_이주연 — 오늘 오후 8:44
이거 저도 궁금해서 직접 디버깅 해봤는데... copy를 안 하면 for문을 돌때마다 리스트에 있는 값이 직접 삭제돼서 모든 값이 for문에 적용되지 않는 것 같아요.
for문에서 11->12->43->4->6이 모두 도는게 아니라
첫번째 인덱스의 11 -> 삭제되지 않음 -> 두번째 인덱스의 12 -> 12는 짝수이므로 삭제됨 [11,43,4,6] -> 변경된 리스트에서 세번째 인덱스값(4) 으로 넘어감 -> 4가 짝수이므로 삭제됨[11,43,6] -> 변경된 리스트에서 네번째 인덱스값으로 넘어가야 하는데 값이 없어서 for문 종료
이런식인 것 같아요... 혹시 이해가 가실까요?
그래서 43이 있는 자리는 홀수 짝수 여부와 상관 없이 무조건 출력됩니다. 실제로 40을 넣어봐도 [11,40,6]이 나오는 걸 확인하실 수 있습니다!

AI_05_박예은 — 오늘 오후 8:54
인덱스 튕기는게 재밌네요 ㅎㅎ , 주연님이 이미 설명해주신 부분 요렇게 참고해보셔도 좋을 것 같아요 ! - print(i) / print(list2) 추가된 내용이에요!

In [ ]:
list4 = [11,12,43,4,6]
for i in list4:
    print(i)
    if not i % 2:  # 짝수인 경우 참
        list4.remove(i)
    print(list4)
print(list4)

11
[11, 12, 43, 4, 6]
12
[11, 43, 4, 6]
4
[11, 43, 6]
[11, 43, 6]

그런데 아까전엔 지나치듯 봐서 몰랐는데, 
if not i % 2
 이 부분이 왜 짝수를 지정할까요? 
i%2는 만약 i가 짝수라면 0이고, i가 홀수라면 1이 되죠..?
if not ==> ~~ 이 아니라면
if not i%2 ==> 만약 i%2가 아니라면, list에서 i를 remove해라. 
<만약 i%2가 아니라면>  ==> 이 부분 잘 이해가 안되네요..  차라리 
if not (i%2 == 1):
 이렇게 되면,, 짝수일 때 remove해라 라고 이해될 텐데요 

AI_05_정인중 — 오늘 오후 9:37
정수에서 0은 bool값에서 False로 해석돼요. 따라서 i%2는 i를 2로나눴을때 나머지값이 나오기때문에 짝수일 경우에는 0이 나오므로 False인데 앞에 not이 있으니까 True가 됩니다

아..  그러니까, 짝수면 if not False가 되어서, i를 지워라 가 되는거고, 홀수면 if not True가 되어서, False가 되니까 아래의 remove를 실행하지 않게 되네요! 감사합니다 🤩

In [ ]:
list2 = [11, 12, 43, 4, 6]
for i in list2:
    if not i % 2:
        print(i)

12
4
6

In [ ]:
list4 = [11,12,43,4,6]
for i in list4:
    print(i)
    if not (i % 2==1):  # 짝수인 경우 참
        list4.remove(i)
    print(list4)
print(list4)

11
[11, 12, 43, 4, 6]
12
[11, 43, 4, 6]
4
[11, 43, 6]
[11, 43, 6]

In [ ]:
list3 = [11, 12, 43, 4, 6]
ll = list3.copy()
print(id(ll), id(list3))
print(list3, ll)
del list3[3]
print(list3,ll)

140653974586304 140653974586384
[11, 12, 43, 4, 6] [11, 12, 43, 4, 6]
[11, 12, 43, 6] [11, 12, 43, 4, 6]

In [ ]:
my_list = [1, 2, 3, 4, 5]
my_list[0] = 99
print(my_list)

del my_list[0]
print(my_list)

[99, 2, 3, 4, 5]
[2, 3, 4, 5]

In [ ]:
my_list = [1, 2, 3, 4, 5]
my_list[0] = 99
print(my_list)

my_list.pop()
print(my_list)

[99, 2, 3, 4, 5]
[99, 2, 3, 4]

## count()와 index()
- count() : 지정된 값의 출현 횟수
- index() : 지정된 값의 첫 번째 인덱스를 내주는 메서드

In [ ]:
my_list = ['xyz', 'XYZ' 'abc', 'ABC']
print("Index for xyz : ",  my_list.index( 'xyz' ))
print("Index for ABC : ",  my_list.index( 'ABC' ))

Index for xyz :  0
Index for ABC :  2

In [ ]:
my_list = ['xyz', 'XYZ' 'abc', 'ABC']
print("Count for xyz : ",  my_list.count( 'xyz' ))
print("Count for ABC : ",  my_list.count( 'ABC' ))

Count for xyz :  1
Count for ABC :  1

In [ ]:
# 뭘 하려고 하는건지 모르겠음.
import math
def bin_search(li,element):
    bottom = 0
    top = len(li)-1  #6
    index = -1
    while top >= bottom and index == -1:
        mid = int(math.floor((top+bottom) / 2.0))   # 실수를 입력하면내림하여 정수를 반환하는 함수
        if li[mid] == element:
            index = mid
        elif li[mid] > element:
            top = mid-1
        else:
            bottom = mid+1
    return index

li=[2,5,7,9,11,17,222]
print(bin_search(li,11))
print(bin_search(li,102))

4
-1

## enumerate

In [ ]:
li = [12,24,35,70,88,120]
for (i,x) in enumerate(li):  # 순서가 있는 자료형(list, set, tuple, dictionary, string)을 입력으로 받아 인덱스 값을 포함하는 enumerate 객체를 리턴
    print(i, x)
    if i not in (0,3,5):
       li = x
print(li)

0 12
1 24
2 35
3 70
4 88
5 120
88

## set과 add()

In [ ]:
def list_update(data):
    new_li=[]
    new_set = set()
    for item in data:
        if item not in new_set:
            new_set.add(item)   # set에서는 요소를 추가할 때 add()함수를 쓴다. 
            new_li.append(item)

    return new_li, new_set

list_test=[120,120,10,20,30,20]
print(list_update(list_test))

([120, 10, 20, 30], {120, 10, 20, 30})

## sort, sorted, 다중정렬

https://cigiko.cafe24.com/python-%EC%A0%95%EB%A0%AC%ED%95%98%EA%B8%B0-sort%EC%99%80-sorted/

In [ ]:
from operator import itemgetter
# operator.itemgetter 모듈은 주로 sorted와 같은 함수의 key 매개변수에 적용되어 다중 수준의 정렬을 가능하게 해주는 모듈

l = []
while True:
    s = input()
    if not s:
        break
    l.append(tuple(s.split(",")))  # 입력받는 s를 ,로 나눈다음 tuple로 만들어서 list에 추가해줘라.

print(sorted(l, key=itemgetter(0,1,2)))  #리스트를 정렬한다. key를 기준으로 하여 순서대로

adam, 10, Newyork
John, 5, Afreeca
miho, 35, juji
AAdo, 22, age

[('AAdo', ' 22', ' age'), ('John', ' 5', ' Afreeca'), ('adam', ' 10', ' Newyork'), ('miho', ' 35', ' juji')]

## 딕셔너리 : get()

In [ ]:
dic = {}
s=input()
for s in s:
    dic[s] = dic.get(s,0)+1  # get(찾고자하는 key, 찾는key가 없을 때 딕셔너리에 key와 함께 추가할 value)\
print(dic)
print(['%s,%s' % (k, v) for k, v in dic.items()])
print('\n'.join(['%s,%s' % (k, v) for k, v in dic.items()]))

hello, world
{'h': 1, 'e': 1, 'l': 3, 'o': 2, ',': 1, ' ': 1, 'w': 1, 'r': 1, 'd': 1}
['h,1', 'e,1', 'l,3', 'o,2', ',,1', ' ,1', 'w,1', 'r,1', 'd,1']
h,1
e,1
l,3
o,2
,,1
 ,1
w,1
r,1
d,1

# lambda
람다 함수의 장점은 함수 객체를 반환한다. 따라서 함수 객체를 인수로 필요로하는 map 또는 filter와 같은 함수와 함께 사용할 때 유용하다.

In [ ]:
# 함수정의
define_word = (lambda word1,define :  word1 * define)

# 함수호출
result = define_word('call_result_',5)

# 결과출력
print(result)

call_result_call_result_call_result_call_result_call_result_

## map(function, iterable)
- 첫 번째 매개변수로는 함수가 오고 두 번째 매개변수로는 반복 가능한 자료형(리스트, 튜플 등)이 옵니다.
- map 함수의 반환 값은 map객체 이기 때문에 해당 자료형을 list 혹은 tuple로 형 변환시켜주어야 합니다.

- 함수의 동작은 두 번째 인자로 들어온 반복 가능한 자료형 (리스트나 튜플)을 첫 번째 인자로 들어온 함수에 하나씩 집어넣어서 함수를 수행하는 함수입니다.

- map(적용시킬 함수, 적용할 값들) 이런 식인 거죠.



출처: https://blockdmask.tistory.com/531 [개발자 지망생]

In [ ]:
# 리스트 생성
spelling = ["test1", "test2", "test4 test5", "test3"]

# 람다함수적용
shout_spells = map(lambda item: item + ('!!!'), spelling)  # map(function, iterable)



# 리스트형태로 변환
shout_spells_list = list(shout_spells)

# 결과출력
print(shout_spells)
print(shout_spells_list)

<map object at 0x7f89081bc310>
['test1!!!', 'test2!!!', 'test4 test5!!!', 'test3!!!']

## filter(조건 함수, 순회 가능한 데이터)

filter() 함수는 두번째 인자로 넘어온 데이터 중에서 첫번째 인자로 넘어온 조건 함수를 만족하는 데이터만을 반환합니다.

In [ ]:
# 리스트 생성
fellowship = ['frodo', 'samwise', 'merry', 'pippin', 'aragorn', 'boromir', 'legolas', 'gimli', 'gandalf']

# 람다함수적용
result = filter(lambda member: len(member) > 6, fellowship)  # True 만 반환

# 리스트형태로 변환
result_list = list(result)

# 결과출력
print(result_list)

['samwise', 'aragorn', 'boromir', 'legolas', 'gandalf']

## reduce(function, iterable, initializer=None)
reduce(집계 함수, 순회 가능한 데이터[, 초기값])

기본적으로 초기값을 기준으로 데이터를 루프 돌면서 집계 함수를 계속해서 적용하면서 데이터를 누적하는 방식으로 작동합니다.

 첫번째 인자는 누적자(accumulator), 두번째 인자는 현재값(current value)가 넘어오게 됩니다. 누적자는 함수 실행의 시작부터 끝까지 계속해서 재사용되는 값이고, 현재값은 루프 돌면서 계속해서 바뀌는 값입니다.

 https://www.daleseo.com/python-functools-reduce/

 단점 : # 람다 : 에러가 뜰 때 어느 부분에서 뜨는지 알수 없다. 


map-reduce-filter 차이 :  https://gonigoni.kr/posts/python-map-reduce-filter/

In [ ]:
# functools 모듈 사용
from functools import reduce

# 리스트 생성
stark = ['robb', 'sansa', 'arya', 'brandon', 'rickon']

# 람다함수적용
result = reduce(lambda item1, item2:  item1+item2, stark)

# 결과출력
print(result)

robbsansaaryabrandonrickon

In [ ]:
from functools import reduce


func = lambda a, b: a if (a > b) else b  # 만약 a가 b보다 크면 func는 a이고, 아니면 b이다.
result = reduce(func, [1, 100, 2, 55])  # reduce는 func에 1,100을 차례로 넣어줌.

print(result)

# 100

100

# 컴프리헨션(comprehension)

변수명 = [수식 for 변수명 in 리스트/range() if 조건]

In [ ]:
list_a = [1, 2, 3, 4]
list_b = [2, 3, 4, 5]

common_num = [a for a in list_a for b in list_b if a == b]

print(common_num)

[2, 3, 4]

In [ ]:
# 딕셔너리 컴프리헨션

test = {'A': 5, 'B': 7, 'C': 9, 'D': 6, 'E': 10} 

test = {na:test for na,test in test.items() if na != 'E'}
print(test)

{'A': 5, 'B': 7, 'C': 9, 'D': 6}

In [ ]:
# 아래와 같이 조건을 반복문 대신 조건을 먼저 쓸 수 있다.
# 조건을 위해 if를 사용하는 경우 else를 작성해줘야된다.
numbers = {'amy': 7, 'jane': 9, 'sophia': 5, 'jay': 10}
pas = {name:'PASS' if number > 8 else 'NO PASS' for name, number in numbers.items()}
print(pas)

{'amy': 'NO PASS', 'jane': 'PASS', 'sophia': 'NO PASS', 'jay': 'PASS'}

In [ ]:
# 아래처럼 반복문을 연속으로 작성가능하다.
# set은 특성상 중복값을 제외한다.

print('list for loop : ',[n for n in range(1, 5+1) for n in range(1, 5+1)])

print('set for loop : ',{n for n in range(1, 5+1) for n in range(1, 5+1)})

list for loop :  [1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
set for loop :  {1, 2, 3, 4, 5}

In [ ]:
# 두개의 리스트를 하나의 딕셔너리로 합침. 
# 하나는 key, 또 다른 하나는 value로 사용한다
subjects = ['math', 'history', 'english', 'computer engineering']
scores = [90, 80, 95, 100]

score_dict = {key:value for key, value in zip(subjects, scores)}
print(score_dict)

# 튜플 리스트를 딕셔너리 형태로 변환
score_tuples = [('math', 90), ('history', 80), ('english', 95), ('computer engineering', 100)]
score_dict = {t[0]:t[1] for t in score_tuples}
score_dict

{'math': 90, 'history': 80, 'english': 95, 'computer engineering': 100}

{'computer engineering': 100, 'english': 95, 'history': 80, 'math': 90}

# 지역변수, 전역변수

코드가 복잡해지고, 변수가 많아질 때 사용할 수 있음.

지역변수 : 변수명을 함수 안에서 할당하고 함수 안에서만 작동함. 

--> 만약 함수밖에서 쓰고싶다면? 전역변수화 해줘야함. global코드를 이용


** 

파이썬 내부에는 '이름공간'이라고 해서, 변수명을 저장해주는 공간이 있다. 

그리고 함수 내부에 변수가 저장되는 공간을 '지역영역'이라고 하고

함수 외부의 부분을 '전역영역'이라고 함.

컴퓨터에서는 지역먼저 찾고, 전역을 확인하는 룰이 있음. 추가적으로 내장영역을 탐색한다. ((스코핑룰, lgb(local grobal built-in) rule)에 따라 변수를 가져온다. ))

내장영역은 파이썬 자체에서 제공하는 함수, 메서드들이 저장된 공간을 내장영역이라고 함. 

**

In [ ]:
# 아래 소스코드를 한 줄씩 실행하면서 지역변수와 전역변수에 대해 파악한다.

g_var = 'g_var'   # 전역변수

  
# 값 수정후(수정값)
def variables():
  
  global glo_var  # global 전역변수
  glo_var = 'glo_var' # global 전역변수에 새로운 값 할당
  lo_var = 'lo_var'   # 지역변수

  print()
  print('(값 수정후)함수 안에서 g_var(전역변수) : ', g_var)  # 수정되지 않고 초기값을 출력함
  print('(값 수정후)함수 안에서 glo_var(global 전역변수) : ', glo_var)  # 함수에서 수정된 후 값을 출력함
  print('함수 안에서 lo_var(지역변수) : ', lo_var)    # 특정 함수에서만 출력되는 지역변수

# 전역변수를 파라미터로 담은 함수
def second_variables(glo_var,g_var):
  glo_var = 'glo_var in second_variables()'
  g_var = 'g_var in second_variables()'
  lo_var = 'second lo_var'
  print('서로 다른 함수에서 지역변수이름이 같은 경우 :',lo_var)
  
  return glo_var,g_var

In [ ]:
# 값 수정전(초기값)
g_var = 'g_var_new_value'
glo_var = 'glo_var_new_value'
print('(값 수정전)함수 밖에서 g_var(전역변수) : ', g_var)  
print('(값 수정전)함수 밖에서 glo_var(global 전역변수) : ', glo_var) # 새로 할당된 값으로 수정됨
# print('함수 밖에서 lo_var(지역변수) : ', lo_var) # 특정 함수 안에서만 사용하는 지역변수이므로 출력안됨

# 전역변수의 값 수정
print('함수의 파라미터가 전역변수인 경우 :', second_variables(glo_var, g_var))

# 지역변수를 갖고 오는 경우
#print('함수의 파라미터가 지역변수인 경우 :', second_variables(glo_var, lo_var))

# 함수에서 수정된 전역변수 재호출
print('전역변수값 :',glo_var, g_var)

variables()

(값 수정전)함수 밖에서 g_var(전역변수) :  g_var_new_value
(값 수정전)함수 밖에서 glo_var(global 전역변수) :  glo_var_new_value
서로 다른 함수에서 지역변수이름이 같은 경우 : second lo_var
함수의 파라미터가 전역변수인 경우 : ('glo_var in second_variables()', 'g_var in second_variables()')
전역변수값 : glo_var_new_value g_var_new_value

(값 수정후)함수 안에서 g_var(전역변수) :  g_var_new_value
(값 수정후)함수 안에서 glo_var(global 전역변수) :  glo_var
함수 안에서 lo_var(지역변수) :  lo_var

# 예외처리

- else --> 파이썬은 문법적 유연성이 뛰어나다.

## for~ else, while~else

반복문 이후, else를 사용하는 경우 대부분의 else가 즉시 실행된다.

루프에서 break를 활용해야지만 else 실행을 막을 수 있다.


else가 반복문이후에 예외사항을 확인시켜줄 수 있다.

In [ ]:
for i in range(3):
  print('loop : ', i) # 1) 루프반복수행
else : 
  print('Else statement') # 2) else 구문 추가수행

loop :  0
loop :  1
loop :  2
Else statement

In [ ]:
# 그렇다면 break문이 있다면?
for i in range(3):
  print('loop : ', i) # 1) 루프반복수행
  if i == 1:
    break     # break는 어떤 영향을 줄 것인가?
else : 
  print('Else statement') # 2) else 구문 추가수행

loop :  0
loop :  1

In [ ]:
# 그렇다면 break문이 있다면?
for i in range(3):
  print('loop : ', i) # 1) 루프반복수행
  if i == 1:
    break     # break는 어떤 영향을 줄 것인가?
print('Else statement') # 2) else 구문 추가수행

loop :  0
loop :  1
Else statement

In [ ]:
# 반복문에 빈 리스트를 넣으면 어떻게 될까?
for i in []:
  print('loop : ', i) # 1) 루프반복수행
else : 
  print('Else statement') # 2) else 구문 추가수행

Else statement

In [ ]:
# 반복문이 while 형태로 False인 경우에는 어떨까?
while False:
  print('loop : ', i) # 1) 루프반복수행
else : 
  print('Else statement') # 2) else 구문 추가수행

Else statement

In [ ]:
# 서로소 판별문제
# 서로소(coprime): 공약수가 1뿐인 두 정수
p_a = 5
p_b = 3

for i in range(2, min(p_a, p_b) +1):    
  print('testing ....', i)

  if p_a % i == 0 and p_b % i == 0:
    print('서로소가 아닙니다.')
    break

else:
  print('서로소입니다.')

print('---------------------------------')
# 아래 코드를 수행하여 위의 코드 결과를 비교해 보세요.
p_a = 5
p_b = 3

for i in range(2, min(p_a, p_b) +1):    
  print('testing ....', i)

  if p_a % i == 0 and p_b % i == 0:
    print('서로소가 아닙니다.')
    break

  else:
    print('서로소입니다.')

testing .... 2
testing .... 3
서로소입니다.
---------------------------------
testing .... 2
서로소입니다.
testing .... 3
서로소입니다.

In [ ]:
# for~else 예시

for i in []:
  print('실행안됨')

else:
  print('실행되면 안됨')

실행되면 안됨

In [ ]:
# while~else 예시

while False:
    print('실행안됨')
  
else:
    print('실행되면 안됨')

실행되면 안됨

## try/except

--> 특정 상황에서만 쓰인다. 앱개발이나 웹개발 등 측면에서, 완성된 코드를 보면서 어떤 상황에서 이러한 구문이 쓰이고 안쓰이냐를 판단하는 연습. flask에서 쓸수 있겠죠.

if/else 구문에서 else는 '앞의 구문이 수행되지 않으면 else구문을 수행하시오' 라는 뜻이다.

try/except 구문 또한 이 구문 앞의 try 구문을 수행하다가 예외발생 시, except 구문을 수행하시오' 라는 뜻이다.

## assert 

위처럼 else의 활용이 되었던 이유는 else가 반복문이후에 예외사항을 확인시켜줄 수 있었기때문이다.

그래서 아래와 같이 함수와 assert를 활용하여 else의 무분별한 활용을 줄일 수 있다.

단순히 예외사항 확인이나 점검용도면 굳이 else를 쓸 필요가 없다.

- assert 조건, '에러메시지'

조건이 True인 경우 그대로 코드 진행, False인 경우 에러메시지(Assertion Error)를 띄워준다.

에러메시지: 앞에 조건이 False인 경우 AssertionError와 함께 남길 메시지를 남겨줄 수 있다. 이 부분은 생략 가능한 부분이다.

assert()는 방어적 프로그래밍(defensive programming) 방법 중 하나이며, 코드를 점검하는데 사용된다.

In [ ]:
# 조건에 맞는 경우, 함수에서 부울값을 반환해주는 방법
def bool_return(v1, v2):
  # 두 인자가 서로소가 아닐 경우 False를 반환하고,
  # 서로소일 경우 True를 반환한다.
  for i in range(2, min(v1, v2) +1):
    if v1 % i == 0 and v2 % i == 0:
      return False
  return True

In [ ]:

# 4와 9는 공약수가 1뿐인 두 정수로 서로소이다. 그러므로 아래 함수는 True 를 반환한다.
print('bool_return(4,9): ',bool_return(4,9))
assert bool_return(4,9)

bool_return(4,9):  True

In [ ]:
# False면  AssertionError가 발생한다.
print('bool_return(3,6):',bool_return(3,6))
assert bool_return(3,6), '서로소를 입력해주세요.'

bool_return(3,6): False

AssertionError: ignored

In [ ]:
# False일지라도 assert not False는 에러를 반환하지 않는다.
# not bool_return(3,6) = not False = True
print('not bool_return(3,6):', not bool_return(3,6))
assert not bool_return(3,6)

not bool_return(3,6): True

# 예외처리 키워드 : try / except / raise / finally

https://dojang.io/mod/page/view.php?id=2400

try : 처리하고자 하는 부분을 넣는다.

except : try구문 안에서 발생할 것으로 예상되는 예외를 처리한다.

raise : 예외상황일 때 **명시적으로 처리**한다. ( 내 눈에 결과값이 나오도록 처리. 컴퓨터 내부적인 처리가 아님)

finally : 마지막으로 실행하는 코드

함수, 클래스 단위로 보기.


- try / finally : 에러가 발생하더라도 마지막 코드를 수행해야 할때.

- try / except / else : else 구문을 사용하면 예외구분을 위해 try 구문 안에 들어갈 코드를 최소화시켜 가독성이 좋아진다.

가장 좋은 건 예외사항을 안만드는게 가장 좋은 것. 예외사항이 안나오게(정상동작하도록) 코드를 잘 잘성하는게 가장 좋다.

![image.png]()

In [ ]:
# 상황을 한번 쭈욱 보기. 일일이 정리하고 외울필요가 없다.

In [ ]:
def my_divide():
    try:
        # 문제가 없을 경우 실행할 코드
        x = input('분자의 숫자를 입력하세요 ~ ')
        y = input('분모의 숫자를 입력하세요 ~ ')
        return int(x)/int(y)
    except:
        # 문제가 생겼을 경우 실행할 코드
        return '나누기를 할 수 없습니다'

print(my_divide())

분자의 숫자를 입력하세요 ~ 5
분모의 숫자를 입력하세요 ~ 가
나누기를 할 수 없습니다

함수 자체의 에러를 볼 때는 assert

함수 내부에서 에러발생하지 않게하기 위해서 except

In [ ]:
# try / except
try:
  print(3/0)
except:
  print('except case')

except case

In [ ]:
3/0

ZeroDivisionError: ignored

In [ ]:
# 특정한 에러가 날 때 except --> 에러문구지정
try:
  print(5/0)
except ZeroDivisionError:
  print('except case ZeroDivisionError')

except case ZeroDivisionError

In [ ]:
# try / except
try:
  print(3/가)
except:
  print('except case')

except case

In [ ]:
# 특정한 에러가 날 때 except --> 에러문구지정
try:
  print(5/가)
except ZeroDivisionError:
  print('except case ZeroDivisionError')

NameError: ignored

In [ ]:
# 특정 에러메세지 출력
try:
  print(7/0)
except ZeroDivisionError as e:
  print(e)

division by zero

In [ ]:
# try / except / else
try:
  print(3/0)
except:
  print('except case')
else:
  # except 절을 만나지 않았을 경우 실행하는 코드
  print('else case')

except case

In [ ]:
# try / except / else
try:
  print(3/1)
except:
  print('except case')
else:
  # except 절을 만나지 않았을 경우 실행하는 코드
  print('else case')

3.0
else case

In [ ]:
# try / except / finally
try:
  print(5/0)
except:
  print('except case')
finally:
  # 오류 발생 유무와 상관없이 무조건 실행하는 코드
  print('finally case')

except case
finally case

In [ ]:
# try / except / finally
try:
  print(5/가)
  print('try test')
except NameError as n:
  print(n)
except ZeroDivisionError as z:
  print(z)

name '가' is not defined

In [ ]:
# try / raise★ / except 
try:
  print('try test')
  num = int(input("0 이상의 값 입력: "))
  
  if num < 0:
      raise NotImplementedError # raise로 예외를 발생시키면 raise 아래에 있는 코드는 실행되지 않고 바로 except로 넘어갑니다
  print('num : ',num) 

except NotImplementedError:
  print('NotImplemented Error')

try test
0 이상의 값 입력: -1
NotImplemented Error

In [ ]:
# None을 return 하는 경우

def none_test(num1, num2):
    try:
        return num1 / num2
    except ZeroDivisionError:
        return None       # None 반환

none_test(2,0)

In [ ]:
# 문제없음, 단순히 None이 있는지 없는지 판단함
result = none_test(0,2)
print(result)

if result is None:
    print('result is None')

0.0

In [ ]:
# 문제발생. 당연히 이런 결과가 나오는데, 이게 왜 문제가 되나요? 여기서 if not result: 를 쓴다는 것 자체가 잘못된것 같은데 왜 굳이 써서 문제가 된다는 건지 이해가 안됩니다.
```
result = none_test(0,2)
print(result)

# 조건식에서 not을 활용하는 경우, 파이썬에서는 None, 빈문자열, 빈리스트, 0을 모두 False로 판단한다
# 단순히 결과값이 0인데도 not result 조건으로 인해 False 처리된다.
if not result:              
    print('not result')
```

# 0.0이면 예외사항이 발생하지 않는다. 만약 result가 아니라면 --> 'not result' 출력. 여기서는 result ==0.0이니까,, 0(False)가 아니라면, 즉, 무조건 True가 되니까 아래의 'not result'가 출력됨.
# 만약 (2.0)을 입력한다면 zerodevisionerror로 None이 리턴됨. if not None이면 not False니까 True. 그러므로 아래의 'not result'가 출력된다. 
# 그러니까, 제로에러가 발생하든말든 상관없이 not result가 출력됨.

0.0
not result

In [ ]:
# None을 return 하는 경우

def none_test(num1, num2):
    try:
        return num1 / num2
    except ZeroDivisionError:
        return '안돼요'    # None 반환

none_test(2,0)

'안돼요'

In [ ]:
# 문제발생. 이게 왜 문제지?★   
result = none_test(2,0)
print(result)

# 조건식에서 not을 활용하는 경우, 파이썬에서는 None, 빈문자열, 빈리스트, 0을 모두 False로 판단한다
# 단순히 결과값이 0인데도 not result 조건으로 인해 False 처리된다.
if not result:              
    print('not result')

안돼요

In [ ]:
# None을 return 하지 않는다.

# ZeroDivisionError as z: <-- 이 부분이 바로 아래에서 제로디비젼에 대한 오류내용을 출력해주는 걸로 알고 있는데요, 바로 뒤에서 raise ValueError('숫자 입력값이 잘못된 경우') from z 가 나옵니다. 이 부분을 설명한다면 어떻게 설명할 수 있을까요?
# 이 코드가 조금 어렵게 느껴지는데, 순서가 어떻게 되는지, 어떻게 실행되는지 한번만 설명해주시면 감사하겠습니다. 

def not_none_return(num1, num2):
  try:
    return num1 / num2
  except ZeroDivisionError as z:
    raise ValueError('숫자 입력값이 잘못된 경우') from z   # 여기 코드는 어떻게 해석해야 할까요??
  else:
    print(result1)

try:
    # result1 = not_none_return(2, 0) # case 1 - 정상적으로 except 처리
    result1 = not_none_return(0, 2) # case 2 - 값 반환
except ValueError:
    print('숫자 입력값이 잘못된 경우')  # None을 반환하는 대신 예외를 발생시킨다.
else:
    print(result1)


# try:
# else:

# 위 모양의 함수가 있다고 할때
# try 에서 retrun 이 되버리면
# else 부분은 코드가 실행이 되지 않는 건가요?
## --> yes! return이 되면 함수가 종료가 된다.

0.0

In [ ]:
try:
    age=int(input('나이를 입력하세요: '))
    if age <0:
        raise ValueError

except:
    print('입력이 정확하지 않습니다.')
else:
    if age <= 18:
        print('미성년자는 출입금지입니다.')
    else:
        print('환영합니다.')

나이를 입력하세요: -1
입력이 정확하지 않습니다.

```
try: 처리하고자 하는 부분
except : try구문 안에서 발생할 것으로 예상되는 예외를 처리
else: except문이 발생안할 때(예외상황 발생x)
finally: 예외 발생 하든 안하든 실행된다. 

<목적의 차이가 있음>
raise : 예외상황일 때 명시적으로 처리 ==> raise : 강제로 에러가 발생하는 구문
assert 조건 '메세지' => 디버깅 의 느낌.

# 문제해결전략(프로그래밍 로직) 작성

- 의사코드에 해당하는 부분을 보고 실제 파이썬 코드로 작성해본다.

소스코드에는 로직, 개별기능을 하는 함수와 변수가 포함되어야 한다.

주석 및 테스트케이스를 미리 작성한다면 코드 작성 시 효율적일 수 있다.

** 효율적이란? : (속도, 정상동작, input값을 덜받는다, 프로그램속도는 느리지만 직관성이 뛰어남, 기능분리잘함, 협업에 있어 이해하기쉬운 코드작성)

In [ ]:
1) 값을 입력받음(input) => '띄어쓰기로 구분이 되는 문자열'
2) 문자열 나누기(split) => '문자열 A', '문자열 B'  #이 상태에서도 비교가 되긴 함. ASCII코드 비교로 '1' > '2' 가능은 함.
3) 문자열 숫자로 변환 => 숫자 A, 숫자 B
4) 조건문 실행되는지
4-1) if A>B => '>'
4-2) if A<B => '<'
4-3) 둘다 아닌 경우 => '=='

In [ ]:
# a= input()
# a= a.split()  # 리스트
# A, B= map(int, a)  # 문자 -> 숫자
A, B = map(int, input().split())
if A > B:
    print('>')
elif A < B :
    print('<')
else:
    print('==')

1 2
<

In [ ]:
try:
    age=int(input('나이를 입력하세요: '))
    if age<=0:
        raise Exception('my error')  # 이러한 이름의 오류를 발생시킨다. 
except:
    print('입력이 정확하지 않습니다.')

In [ ]:
try:
    age=int(input('나이를 입력하세요: '))
    if age<=0:
        raise ValueError
except:
    print('입력이 정확하지 않습니다.')

In [ ]:
try:
    age=int(input('나이를 입력하세요: '))
    if age<=0:
        raise TypeError
except:
    print('입력이 정확하지 않습니다.')

코드로 만들어내기. 코드로 구현하기.

코드가 길지않고 어렵지 않으면 바로 작성해도 상관이 없으나,,

만약 큰 서비스를 만들어야 된다면? 그때그때 생각해서 만들기 쉽지 않다는 부분.

의사코드 : 세부적인 코드를 분석. 설계단계에서 오류를 방지하는 장점이 있다. 협업의 상황이 있다면 작성해두면 도움이 된다. 그림으로 그려도 되고. 설계를 해봐라. 중요!!!

협업을 할 때는 의사코드를 동료와 약속된 형태로 작성하라. 동료가 이해할 수 있게.

어떻게 설계를 하고 생각하면 좋을지를 결정.

프로그래밍 할 때 다양한 고려할 점?

--> 컴프리헨션.(한줄로 파이썬을 구현) : 파이썬스럽게 코드를 작성한다. pythonic

--> 그러나 현업에서는 가독성 문제로 자주 사용되진 않는다고 함.

In [ ]:
# 찾아보기 : 리팩토링 
# : 게임을 함수(기능)에 따라 추가 및 개선시킬 수 있다.

기능이 추가된다면? 어떻게 하면 좋을지.

In [ ]:
import random
def show_welcome_message():
    print(welcome_message)


def get_user_choice():
    ###[1] 가위   [2] 바위   [3] 보    [9] 게임종료###
    return choice_options[int(input())]

def quit_game(사용자승, 무승부, 사용자패):
    print(quit_message)
    print("게임결과")
    print("-----")
    ### 사용자승 : ",(사용자승) + ", " +"무승부 : ",(무승부) + ", " +"사용자패 : ",(사용자패) ###


def compare_choices_and_get_result(user, computer):
    if user == computer:
        print("사용자 : ", user_choice, ", ", "컴퓨터 : ", computer_choice)
        return "무승부"
    elif (user == "바위" and computer == "가위") or (user == "보" and computer == "바위") or (user == "가위" and computer == "보"):
        print("사용자 : ", user_choice, ", ", "컴퓨터 : ", computer_choice)
        return "사용자승"
    else:
        print("사용자 : ", user_choice, ", ", "컴퓨터 : ", computer_choice)
        return "사용자패"


def display_result_message_and_update_score(result):
    if result == "무승부":
        print(tie_message)
        score["무승부"] += 1
    elif result == "사용자승":
        print(win_message)
        score["사용자승"] += 1
    else:
        print(loss_message)
        score["사용자패"] += 1

score =  {
    "사용자승": 0,
    "무승부": 0,
    "사용자패": 0
}

welcome_message = "가위바위보 게임을 시작합니다."
win_message = "사용자가 이겼습니다."
loss_message = "사용자가 졌습니다."
tie_message = "무승부입니다."
quit_message = "게임을 종료합니다."

choice_options = {
    1: "가위",
    2: "바위",
    3: "보",
    9: "게임종료"
}

### 게임시작 메시지
show_welcome_message()

### 첫번째 사용자 선택
user_choice = get_user_choice()

### 게임수행을 위한 반복문
while user_choice != "게임종료":
    computer_choice = choice_options[random.randint(1, 3)]
    result = compare_choices_and_get_result(user_choice, computer_choice)
    display_result_message_and_update_score(result)
    user_choice = get_user_choice()
print('')
quit_game(score["사용자승"], score["무승부"], score["사용자패"])

가위바위보 게임을 시작합니다.
3
사용자 :  보 ,  컴퓨터 :  보
무승부입니다.
9

게임을 종료합니다.
게임결과
-----

In [ ]:
# 첫번째 풀이
import timeit
start_time = timeit.default_timer() # 시작 시간 체크


def solution(numbers):      #1. [2,1,3,4,1]
    answer = list()         #2. list create

    #print(answer)          # print를 활용한 중간값 확인을 통한 로직확인

    for i in range(len(numbers)):               #3. len ([2,1,3,4,1])
        for j in range(i+1, len(numbers)):      #4. len([2,1,3,4,1])
            if numbers[i] + numbers[j] not in answer:         #5. numbers[0] + numbers[1] not in answer
                answer.append(numbers[i] + numbers[j])        #6. answer.append(numbers[0]+numbers[1])
     
    #print(numbers[i],numbers[j])               # print를 활용한 중간값 확인을 통한 로직확인

    answer.sort()           #7. 리스트결과 정렬
    return answer

print(solution([2,1,3,4,1]))
end_time = timeit.default_timer()                  # 종료 시간 체크

print("%f 초 걸렸습니다." % (end_time - start_time))  # 코드실행시간 측정

[2, 3, 4, 5, 6, 7]
0.000275 초 걸렸습니다.

In [ ]:
# 두번째 풀이
start_time = timeit.default_timer() # 시작 시간 체크
def solution(numbers):
    answer = set()        # set 활용
    for i in range(len(numbers)):
        for j in range(i+1, len(numbers)):
            answer.add(numbers[i] + numbers[j])     # set의 add활용
            
    answer = list(answer)
    answer.sort()
    return answer

print(solution([2,1,3,4,1]))
end_time = timeit.default_timer() # 종료 시간 체크
print("%f 초 걸렸습니다." % (end_time - start_time))

[2, 3, 4, 5, 6, 7]
0.001074 초 걸렸습니다.